#results > div > desktop-results > ul > li:nth-child(2) > div > div > div.product-img-wrap > img {
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
}
header.header-desktop {
	display: block;
}

#main {
	background: white;
	overflow-x: hidden;
}

.app-content-main-top {
	width: 1160px;
	margin: 0 auto;
	min-height: 145px;

	h2, h3 {
		font-family: $AV-stack;
        font-weight: 300;
	}
	h2 {
		color: #999;
		letter-spacing: 1px;
	}
	h2.main-question-more {
		font-size: 24px;
		margin-top: 0;
	}
	h3 {
		color: #7e7e7e;
		letter-spacing: 1px;
	}
	.app-content-main-top-left {
		width: 80%;
		padding-left: 20px;
		padding-right: 0;
        border-left: 3px #edb129 solid;
	}
	.app-content-main-top-right {
		.btn {
			font-family: $AV-Light;
			font-size: 21px;
			// Bootstrap mixin
			@include button-variant(#ffffff, #002e58, #002e58);
			padding: 3px 18px;
		}
	}
	.extra-info-wrap {
		display: block;
        text-align: center;
        position: relative;
		.btn-wrap {
			display: inline-block;
            margin: 0 auto;
            float: left;

			.btn-icon-wrapper {
				position: relative;
				display: inline-block;
				width: 17px;
				height: 17px;
				z-index: 52;
			}
			.btn-icon {
				position: absolute;
				width: inherit;
				height: inherit;
				text-align: center;
				cursor: pointer;
				left: 1px;
				border: 1.5px solid #edb129;
				
				span {
                    display: block;
                    width: 100%;
                    font-family: Helvetica, Arial, sans-serif;
                    font-weight: 800;
					color: #edb129;
					font-size: 12px !important;
					position: relative;
					bottom: 0.5px;
                    left: 0px;
				}

			}
			.btn-icon.inverted {
				span {
					margin-top: 0px;
				}

			}
			.btn-icon.x {
				span {
					transform: rotate(45deg) ;
					-webkit-transform: rotate(45deg) ;
					-moz-transform: rotate(45deg) ;
					-o-transform: rotate(45deg) ;
					-ms-transform: rotate(45deg) ;
					margin-top: -2px;
					margin-left: 0.7px;
				}
			}
			.btn-text {
				font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
				color: #7e7e7e;
				font-size: 10px;
				position: relative;
				left: 5px;
				bottom: 7px;
				z-index: 52;
				border-bottom: 1px solid white;
				padding-bottom: 2px;
				margin: 9px 0 0 2px;
				display: block;
				float: right;
			}
		}
	}
}

.tooltip-open .tooltip {
	opacity: 1;
}
.tooltip {
    display: none;
	z-index: 51;
	left: 0;
	opacity: 0;
	top: -5px;
	background-color: #FFF;
	
	&.top .tooltip-arrow {
		border-top-color: #edb129;
	}
	&.bottom .tooltip-arrow {
		border-bottom-color: #edb129;
	}
	&.left .tooltip-arrow {
		border-right-color: #edb129;
	}
	&.right .tooltip-arrow {
		border-left-color: #edb129;
	}
	.tooltip-arrow {
		margin-left: -5px;
		border-width: 0 5px 50px;
		border-radius: 0px;
	}
	.tooltip-inner-line {
		position: absolute;
		left: 7px;
		top: 34px;
		width: 90%;
		height: 1px;
		background-color: #edb129;
	}
	.tooltip-inner {
		max-width: initial !important;
		background-color: transparent;
		color: #7E7E7E;
		font-size: 10px;
		line-height: 13px;
		padding: 38px 15px 15px 15px;
		border-radius: 0px;
		border: 1px solid #edb129;
	}
}


.app-answers {
	float: left;
	.answer-option {
		&.sub-category {
			margin-top: 50px;
		}
		&.category, &.sub-category {
			margin-left: 35px;
			margin-right: 35px;
		}
		&:hover {
			text-decoration: none;
			// fade in / out
			// img.regular {
			// 	display: none;
			// }
			// img.active {
			// 	display: block;
			// }
		}
		// Category examples
		&.laundry {
			// margin-left: 0;
			img {
				//width: 250px;
				// height: 293px;
			}
		}
		&.cooking {
			img {
				//width: 250px;
				// height: 315px;
			}
		}
		&.fridge {
			img {
				//width: 275px;
				// height: 315px;
			}
		}
		&.dishwasher {
			// margin-right: 0;
			img {
				//width: 175px;
				// height: 315px;
			}
		}

		// Subcategory examples
		&.ranges {
			img {
				//width: 250px;
			}
		}
		&.cooktops {
			img {
				//width: 200px;
			}
		}
		&.wallovens {
			img {
				//width: 200px;
			}
		}
		&.venthoods {
			img {
				//width: 200px;
			}
		}
		.category-name {
			margin: 10px 0;
			display: block;
			color: #444;
			text-transform: uppercase;
			font-size: 19px;
			text-align: center;
			width: 100%;
			font-family: $AV-stack;
            font-weight: 400;
		}
	}
}

.app-content-main-bottom {
	.disabled {
		cursor: default;
	}
	.btn-next.disabled, .btn-prev.disabled {
		opacity: 0.4;
	}
	.btn-next, .btn-prev {
		-webkit-transition: all 0.3s ease;
	    -moz-transition: all 0.3s ease;
	    -ms-transition: all 0.3s ease;
	    transition: all 0.3s ease;
	    position:absolute;
	    z-index:1;
		&:hover:not(.disabled) {
			opacity: 1;
			.btn {
				background-color: #002e58;
			}
		}
	}
	.btn {
		font-family: $AV-Light;
		font-size: 21px;
		// Bootstrap mixin
		@include button-variant(#ffffff, #7d7d7d, #7d7d7d);
		padding: 3px 18px;
	}
	.btn-text {
		color: #7d7d7d;
	}
	// .icon-text {
	// 	font-size: 11px;
	// 	color: #2e2e2e;
	// 	font-family: Geneva, Verdana, sans-serif;
	// 	&:hover {
	// 		color: #2e2e2e;
	// 		text-decoration: none;
	// 	}
	// }
	

	.results-count {
		background: url('../img/matches-bg.png') center center no-repeat;
	}	
	.results-count-number {
		font-family: $AV-Light;
		font-size: 27px;
		color: #414141;
		line-height: 27px;
	}
	.results-count-label {
		font-family: $AV-Light;
		font-size: 14px;
		color: #414141;
	}
	.compare-btn-wrap {
		display: inline-block;
		position: absolute;
		right: 0;
	}

	.btn-compare {
		font-family: $AV-Light;
		font-size: 21px;
		@include button-variant(#ffffff, #002e58, #002e58);
		padding: 3px 18px;
	}
	.btn-wrapper {
		float: right;
		margin-top: 20px;
	}
	
   div.startover-mobile {
   		margin: 5px 0 15px 0;
   }
    
    .nav-wrapper {
        display: inline-block; 
        float: left;
        text-align:center;
        margin: 0px auto 0px auto;
    }

	.backtoresults-btn-wrap {
		display: inline-block;
	    border-left: solid 1px #a7a7a7;
	    padding-left: 20px;
	    margin-left: 20px;
		//position: absolute;
	    //top: 680px;
	    //left: 1100px;
		text-align: center;	   
		float: right; 
		.btn-backtoresults {
			font-family: $AV-Light;
			@include button-variant(#ffffff, transparent, #a7a7a7);
			width: 40px;
			height: 40px;
			font-size: 7px;
			text-align: initial;
		    line-height: 1;
			line-spacing: 1;
			text-transform: uppercase;
            border-radius: 50%;
            color: #a7a7a7 !important;
            
            span {
                position: relative;
                display: inline-block;
                left: 50%;
                top: 52%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }
		}
        .btn-backtoresults:hover {
            background-color: #edb129 !important;
            border-color: #edb129 !important;
            color: white !important;
		}
	}
	.startover-btn-wrap {
		display: inline-block;
	    border-left: solid 1px #a7a7a7;
	    padding-left: 20px;
	    margin-left: 20px;
		//position: absolute;
	    //top: 680px;
	    //left: 1100px;
		text-align: center;	 
		float: right; 
		.btn-startover {
			font-family: $AV-Light;
			@include button-variant(#ffffff, transparent, #a7a7a7);
			width: 40px;
			height: 40px;
			font-size: 9px;
			//padding: 3px 18px;
		    text-align: center;
		    line-height: 1;
			line-spacing: 1;
			text-transform: uppercase;
            border-radius: 50%;
            color: #a7a7a7 !important;
            
            span {
                position: relative;
                display: inline-block;
                left: 50%;
                top: 52%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }
		}
        .btn-startover:hover {
            background-color: #edb129 !important;
            border-color: #edb129 !important;
            color: white !important;
		}
	}
}

.buttonnav-mobile {
   		text-transform: uppercase;
   		margin: 40px auto 15px auto;
        text-align: center;
        a.banner {
            display: inline-block;
            margin: 0 5px;
            cursor: pointer;
            .btn-wrapper {
                border-radius: 50%;
                color: #777;
                background-color: white;
                border: 1px solid #777;
                height: 60px;
                width: 60px;
                margin: 0 auto;
                position: relative;
                float: none;

                div {
                    position: absolute;
                    width: 99%;
                    top: 52%;
                    left: 50%;
                    -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                    font-size: 10px;
                    line-height: 10px;
                    font-family: $AV-Light;
                    text-align: center;
                }
            }
            .btn-wrapper:hover {
                color: white;
                background-color: #edb129;
                border: 1px solid #edb129;
            }
        }
   }

//popover styles
.popover-title {
	text-transform: uppercase;
}
.popover {
	border: 0;
	border-radius: 0px;
	margin-top: -4px !important;
	border: none !important;

	* {
		font-size: 11px;
		color: #FFF;
	}
	.arrow {
		border-color: transparent !important;
	}
}

.bottom-nav-intructions {
	position: relative;
	display: block;
	text-align: center;
	border-bottom: 1px solid #a7a7a7;
	// width: 100%;

	.instructions {
		color: #a7a7a7;
		font-size: 11px;
		text-align: center;
		padding-bottom: 3px;
	}
    .mobileInstructions{
            display: none;
    }
}

.bottom-nav-inner-inner {
	display: inline-block;
	margin: 0 auto;
	position:relative;
	z-index: 2;
}

.bottom-nav-inner {
	display: block;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	float: left;
}


// Slide animation from one question to the next


.body {
	max-width: 100%;
}

.slidey-wrap-all {
	position: relative;
	left: 50%;
	height: 380px;
	margin-top: 10px;
}



.slidey {
	position: absolute;
	left: -(1160px / 2);
	width: 1160px;

	div[ng-controller="SliderMultipleCtrl"] {
		padding-top: 25px;
	}

	div[ng-controller="SliderMultipleCtrl"] .answers-main-content {
		&.answer-slider {
			margin-top: 40px;
		}
	}

	div[ng-controller="SliderButtonsCtrl"] .answers-main-content {
		&.answer-slider {
			margin-top: 40px;
		}
	}

	.answers-main-content {
		&.label-inches .jslider-value span::after {
			content: "\"";
			position: absolute;
			top: 12px;
		}

		&.answer-slider {
			margin-top: 133px;
		}

		&.regular-2-container, &.regular-3-container {
			width: 50%;
		}

		&.regular-2-container, &.regular-4-container, &.regular-4-container.answersize34 {
			margin-top: 78px;
		}
        &.regular-3-container {
            margin-top: 41px;   
        }
		&.regular-4-container.answersize56 {
			margin-top: 45px;
		}

		&.regular-4-container.answersize78 {
			margin-top: 0px;
		}

		&.picture-2-container, &.picture-3-container, &.boxes-icon-2-container, &.boxes-icon-4-container, &.boxes-icon-5-container {
			margin-top: 68px;
		}
	}
}

.slidey.animateLeft {
	&.ng-hide-remove {
		transition: all ease-in-out 1s, padding-top 1ms;
		-webkit-transition: all ease-in-out 1s, padding-top 1ms;
	    transform: translateX(200%);
	    -webkit-transform: translateX(200%);
        opacity: 0;
	}
	&.ng-hide-remove-active {
		transform: translateX(0%);
		-webkit-transform: translateX(0%);
		opacity: 1;
	}

	&.ng-hide-add {
		transition: all ease-in-out 1s, padding-top 1ms;
		-webkit-transition: all ease-in-out 1s, padding-top 1ms;
	    transform: translateX(0%);
	    -webkit-transform: translateX(0%);
	    opacity: 1;
	}
	&.ng-hide-add-active {
		transform: translateX(-200%);
		-webkit-transform: translateX(-200%);
		opacity: 0;
	}
}

.slidey.animateRight {
	&.ng-hide-remove {
		transition: all ease-in-out 1s, padding-top 1ms;
		-webkit-transition: all ease-in-out 1s, padding-top 1ms;
	    transform: translateX(-200%);
	    -webkit-transform: translateX(-200%);
        opacity: 0;
    }
	&.ng-hide-remove-active {
		transform: translateX(0%);
		-webkit-transform: translateX(0%);
		opacity: 1;
	}

	&.ng-hide-add {
		transition: all ease-in-out 1s, padding-top 1ms;
		-webkit-transition: all ease-in-out 1s, padding-top 1ms;
	    transform: translateX(0%);
	    -webkit-transform: translateX(0%);
	    opacity: 1;
	}
	&.ng-hide-add-active {
		transform: translateX(200%);
		-webkit-transform: translateX(200%);
		opacity: 0;
	}
}

/*french css start*/
div[ng-class="fr_CA"] {
	.btn-backtoresults, .btn-startover {
        width: 90px !important;
        border-radius: 15px !important;
        margin: 0 auto !important;
        font-size: 10px !important;
	}

	.btn-startover {
		line-height: 19px !important;
	}
	.app-content-main-bottom-center .icon-nav-wrap {
		.popover-content {
			text-transform: uppercase;
		}
	}
    .answers-main-content {
        &.label-inches .jslider-value span::after {
            content: "\po";
            position: absolute;
            top: 13px;
            right: 4px;
            text-transform: lowercase;
            font-size: 19px;
        }
    }
    .category {
        margin-left: 15px !important;
        margin-right: 15px !important;
        .category-name {
            font-size: 15px !important;
        }
    }
    .sub-category {
        .category-name {
            font-size: 12px !important;
        }
    }
    .buttonnav-mobile {
        margin-top: 50px;
        a.banner {
            .btn-wrapper {
                border-radius: 15px;
                height: 45px;
                width: 90px;

                div {
                    font-size: 10px;
                    line-height: 10px;
                }
            }
        }
    }
}

.print-page {
	* {
		font-family: $AV-Light;
		color: #000;
	}

	.print-page-header{
		background-color: #efb112;
	}

	.print-page-content-wrapper {
		.print-page-content {
			.print-page-content-title {
				color: white;
 				background-color: #efb112;
			}
		}

		ul {
			font-family: $AV-Light;

			li {
				border-bottom: 1px dashed #002e62;
			}
 			.value {
 				font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
 			}
		}
	}
}

@media(max-width:1180px) and (min-width:1024px) {
    .slidey {
        div[ng-controller="SliderButtonsCtrl"] .answers-main-content {
            &.answer-slider {
                margin-top: 80px !important;
            }
        }
    }    
}

/* Media Queries Start */
/* Added by Jacoub Bondre Sept 8th 2015 */
/* If time allots lets refactor progress bar styles into its own .scss file */
@media(max-width:1023px) {
    .app-content-main-top {
        .app-content-main-top-left {
            padding-left: 10px;
            margin-left: 10px;
            padding-right: 0;
            border-left: 1px #edb129 solid;
        }
        h2 {
            color: #777;
        }
        h3 {
            margin-bottom: 5px;
        }
    }
    .extra-info-wrap {
        height: 15px !important;
		.btn-icon {
			width: 40px !important;
			height: 16px !important;
            background-color: #edb129 !important;
			span {
                margin-top: -2px !important;
				font-size: 12px !important;
                color: white !important;
			}

		}
		.btn-text {
			font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
			color: #555;
			font-size: 10px;
			position: relative;
			left: 5px;
			bottom: 6px;
		}
	}
    .app-answers {
        float: left;
        .answer-option {
            .category-name {
                font-size: 10px;
            }
        }
    }
    div[ng-class="fr_CA"]{
        .answer-option {
            .category-name {
                font-size: 10px !important;
            }
        }
    }
	header.header-desktop {
		display: none;
	}

	header.header-mobile {
		display: block;
	}
	
    .bottom-nav-intructions {
        border-bottom: none;
        
        .instructions{
	       display: none;
        }
        .mobileInstructions {
            display: inline-block;
            font-size: 14px;
            color: #8b8b8b;
            text-transform: uppercase;
            padding-bottom: 40px;
            font-family: $AV-Light;
            padding-top: 5px;
        }
    }
    
    .startover-btn-wrap {
		display: none !important;
	}
    .mobile-results-nav li:nth-child(2) img {
        -webkit-transform:scale(1.2);
        transform:scale(1.2);
        letter-spacing: .2px;
        padding: 3% 8% 12% 8% !important;
    }
    .mobile-results-nav li:nth-child(odd) span {
        letter-spacing: .2px;
    }
    .mobile-results-nav li span {
        font-size: 14px !important;
        margin-top: 2px !important;
    }
    #results .mobile-results-nav li .active:after{
        content: " ";
        position: absolute;
        height: 22px;
        width: 10px;
        margin: 22px 0 0 0;
        -webkit-transform: translate(-50%, 0%);
        transform: translate(-50%, 0%);
        border-style: solid;
        border-color: transparent;
        border-top-color: #edb129;
        border-width: 10px;
        left: 50%;  
    }  
    .active {
        width: 100%;
        margin: 0 auto;
    }

    #result-column-1,  #result-column-0,  #result-column-2 {
        .result-wrap {
            .product-details-wrap {
                h2 {
                    padding-top: 0px;
                    margin-bottom: 0px;
                    line-height: 12px;
                    min-height: auto !important;
                    
                    .product-name {
                        font-size: 11px;
                        padding-top: 0px;
                        font-family: $AV-stack;
                        font-weight: 400;
                        letter-spacing: 0;
                        line-height: 5px !important;
                    }
                }
                .sales-feature-spacer {
                    border-top: thin #aaa solid;
                }
                
                .product-price-sku-wrap {
                    .product-price, .product-sku {
                        width: 100%;
                        font-size: 17px;
                        font-family: $AV-stack;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}
@media(max-width:580px) {
    .app-content-main-top {
        .app-content-main-top-left {
            margin-left: 0px;
        }
    }
}