
// Slider

.jslider-value span {
	opacity : 0;
}

.price-slider {
	.jslider-value span:before {
	    content: "$";
	}
}

.show-ticks .jslider .jslider-scale span {
	border-left: 1px solid #CCC !important;
}

div.people1 .jslider .jslider-value:not(.jslider-value-to) {
    background: url('../img/family-1.png') no-repeat !important;
	background-size: contain !important;
	width: 28px;
	height: 50px;
	display: block;
	margin-left: -14px !important; // half of width to center it
}

div.people2 .jslider .jslider-value:not(.jslider-value-to) {
    background: url('../img/family-2.png') no-repeat !important;
	background-size: contain !important;
	width: 36px;
	height: 50px;
	display: block;
	margin-left: -18px !important;
}

div.people3 .jslider .jslider-value:not(.jslider-value-to) {
    background: url('../img/family-3.png') no-repeat !important;
	background-size: contain !important;
	width: 59px;
	height: 50px;
	display: block;
	margin-left: -29.5px !important;
}

div.people4 .jslider .jslider-value:not(.jslider-value-to) {
    background: url('../img/family-4.png') no-repeat !important;
	background-size: contain !important;
	width: 85px;
	height: 50px;
	display: block;
	margin-left: -40px !important;
}
div.people5 .jslider .jslider-value:not(.jslider-value-to) {
    background: url('../img/family-5.png') no-repeat !important;
	background-size: contain !important;
	width: 85px;
	height: 50px;
	display: block;
	margin-left: -46px !important;
}

div.people6 .jslider .jslider-value:not(.jslider-value-to) {
    background: url('../img/family-6.png') center center no-repeat !important;
	background-size: 126px 50px;
	width: 126px;
	height: 50px;
	display: block;
	margin-left: -63px !important; //opposite as it's the last one
    margin-right: -55px;
}


div.people1 .jslider.vertical .jslider-value:not(.jslider-value-to) {
	width: 28px;
	margin-left: -14px !important; // half of width to center it
}

div.people2 .jslider.vertical .jslider-value:not(.jslider-value-to) {
	width: 36px;
	margin-left: -18px !important;
}

div.people3 .jslider.vertical .jslider-value:not(.jslider-value-to) {
	width: 59px;
	margin-left: -29.5px !important;
}

div.people4 .jslider.vertical .jslider-value:not(.jslider-value-to) {
	width: 70px;
	margin-left: -35px !important;
}
div.people5 .jslider.vertical .jslider-value:not(.jslider-value-to) {
	width: 85px;
	margin-left: -40px !important;
}
div.people6 .jslider.vertical .jslider-value:not(.jslider-value-to) {
	margin-left: -75px !important;
}


.people-slider {
	margin-top: 100px;

}

.answer-slider {
	margin-bottom: 100px;
	width: 904px;
}
.price_slider {
	width: 609px;
}

.answer-slider {
		.jslider-value-to {
			display: none !important;

		}
}
.answer-slider, .price-slider {
	// width: 50%; 
	// margin-left: 25%; 
	// clear: both; 
	// float: left;
	height: 100px;
	margin-top: 75px;
	margin-bottom: 50px;
	// @include make-md-column(8);
	position: relative;
	margin-left: auto;
	margin-right: auto;

	.jslider.vertical {
		div.jslider-true-bg {
			position: absolute;
			margin-left: -18px;
			height: 45px;
			width: 26px;
			top: 0;
			z-index: 10;

			img {
				width: inherit;
				height: 111%;
			}
		}
	}

	.jslider {
		cursor: pointer; 
		display: block; 
		width: 94.5%; 
		height: 1em; 
		position: relative; 
		top: 0.6em; 
		font-family: Arial, sans-serif;
		

		& .jslider-bg i {
		// & .jslider-pointer { 
			// background: url(../img/jslider.png) no-repeat 0 0; 
			background: none !important;
		}


		&.sliderCSS .jslider-pointer { 
			background-color: silver; 
		}
		&.disabled { 
			opacity: 0.5; 
		}
		// &.vertical {
		// 	display: block; 
		// 	width: 17px; 
		// 	height: 100%; 
		// 	position: relative; 
		// 	top: 0.6em; 
		// 	font-family: Arial, sans-serif;
		// 	.jslider-bg i, .jslider-pointer { 
		// 		background: url(../img/jslider.round.png) no-repeat 0 0; 
		// 	}
		// 	&.sliderCSS {
		// 		.jslider-bg i, .jslider-pointer { 
		// 			background-color: silver; 
		// 			background-image: none 
		// 		}
		// 	}
		// 	table { 
		// 		height: 100%; 
		// 		border-collapse: collapse; 
		// 		border: 0; 
		// 	}
		// 	table, tr, tr td { 
		// 		height: 100%; 
		// 		vertical-align: top;
		// 	}
		// }
		table { 
			width: 100%; 
			border-collapse: collapse; 
			border: 0;
			tr, tr td { 
				width: 100%; 
				vertical-align: top; 
			}
		}
		td, th { 
			padding: 0; 
			vertical-align: top; 
			text-align: left; 
			border: 0; 
		}
		.jslider-true-bg {
			position: absolute;
			margin-left: -30px;
			width: 5px;
			top: 4px;
			height: 32px;
			pointer-events: none;
			overflow: hidden;

			img {
				width: 860px;
				height: inherit;
			}
		}
		.jslider-bg {
			position: relative; 
			width: 860px;
			height: 40px;
			background: url('../img/slider-bg.png') no-repeat center;
            background-size: contain;
			margin-left: -30px;
			z-index: 10;
			i { 
				height: 5px; 
				position: absolute; 
				font-size: 0; 
				top: 0; 
			}
			.l { 
				width: 50%; 
				background-position: 0 0; 
				left: 0; 
			}
			.r { 
				width: 50%; 
				left: 50%; 
				background-position: right 0; 
			}
			.v { 
				z-index: 1; 
				position: absolute; 
				width: 60%; 
				left: 20%; 
				top: 0; 
				height: 5px; 
				background-repeat: repeat-x; 
				background-position: 0 -40px; 
			}
			.s { 
				z-index: 1;
				left: 0; 
				width: 1px; 
				// background-color: #185F83;
			}
		}

		&.sliderCSS {
			.jslider-bg {
				.l { 
					width: 100%; 
					left: 0; 
					background-color: silver; 
					background-image: none;
				}
				.p { 
					left: 0; 
					width: 1px; 
					background-color: transparent;
					background-image: none;
				}
				.s { 
					z-index: 1;
					left: 0; 
					width: 1px; 
					background-color: transparent; 
					background-image: none;
				}
				.f { 
					left: 0; 
					background-color: transparent; 
					background-image: none;
				}
				.v { 
					z-index: 1; 
					position: absolute; 
					width: 60%; 
					left: 20%; 
					top: 0; 
					height: 5px; 
					background-image: none; 
					background-color: #999575; 
				}
			}
		}
		// &.vertical { 
		// 	position: relative; 
		// 	height:100%;
		// 	.jslider-bg {
		// 		position: relative; 
		// 		height:100%;
		// 		i { width: 5px; position: absolute; font-size: 0; top: 0; }
		// 		.l { height: 50%; top: 0; left: 12px; background-position: -55px 0; background-repeat: repeat-y}
		// 		.r { height: 50%; top: 50%; left: 12px; background-position: right 0; background-repeat: repeat-y}
		// 		.v { z-index: 1; position: absolute; width: 60%; left: 12px; top: 0; height: 100%; background-repeat: repeat-y; background-position: -35px 0px; }
		// 		.s { width: 5px; z-index: 1;left: 12px; height:1px; background-color: #185F83;}
		// 	}
		// 	&.sliderCSS {
		// 		.jslider-bg {
		// 			.l { width: 5px; height: 50%; top: 0;  background-color: silver; background-image: none;}
		// 			.r { width: 5px; height: 50%; top: 50%; background-color: silver; background-image: none;}
		// 			.v { z-index: 1; width: 5px; height: 100%; background-color: #777575; background-image: none;}
		// 			.p { left: 12px; width: 5px; background-color: transparent; background-image: none;}
		// 			.s { left: 12px; width: 5px; background-color: transparent; background-image: none;z-index: 2;height: 1px;}
		// 			.f { left: 12px; background-color: transparent; background-image: none;}
		// 		}
		// 	}
		// 	.jslider-pointer {
		// 		left: 62%; 
		// 		background-position: -1px -3px;
		// 		&.jslider-pointer-hover { 
		// 			background-position: -1px -23px; 
		// 		}
		// 	}
		// 	.jslider-pointer-to { 
		// 		left: 62%; 
		// 		&.jslider-pointer-hover { 
		// 			background-position: -1px -23px; 
		// 		}
		// 	}
		// 	.jslider-label { 
		// 		margin-left: 22px; 
		// 		top: -5px;
		// 	}
		// 	.jslider-label-to { 
		// 		margin-top: -5px; 
		// 		top:100%; 
		// 		left: inherit; 
		// 		right: inherit;
		// 	}
		// 	.jslider-value { 
		// 		left: 0; 
		// 		top:0;
		// 	}
		// 	.jslider-value-to { 
		// 		left: 0; 
		// 		top:80%; 
		// 	}
		// .jslider-scale, .jslider-label {
		// 	display: none;
		// }

		.jslider-label {
			display: none;
		}


		.jslider-value-to {
			  margin-right: -30px !important;
		}

		// 	.jslider-scale span { 
		// 		position: absolute; 
		// 		width: 5px; 
		// 		height: 1px; 
		// 		border-left: none; 
		// 		font-size: 0; 
		// 		border-top: 1px solid #999;
		// 	}
		// 	.jslider-scale ins { 
		// 		font-size: 9px; 
		// 		text-decoration: none; 
		// 		position: absolute; 
		// 		left: 0px; 
		// 		top: 5px; 
		// 		color: #999; 
		// 	}
		// 	.jslider-scale { 
		// 		position: inherit; }
		// }

		.jslider-pointer { 
			// width: 15px; 
			// height: 15px; 
			// background-position: -1px -60px; 
			position: absolute; 
			left: 20%; 
			top: -17px; 
			// margin-left: -39px; 
			margin-left: -43px; 
			cursor: pointer; 
			cursor: hand; 


			display: block;
			// width: 72px;
			// height: 66px;

			z-index: 50;
			width: 86px;
			height: 74px;
			background: url('../img/slider-pointer.png') center center no-repeat !important;
			background-size: 86px 74px;
			// &:hover {

			// }
		}
		.jslider-pointer-to { 
			left: 80%; 
			z-index: 100 !important;
		}
		.jslider-pointer-hover { 
			// background-position: -21px -60px; 
		}
		.jslider-label { 
			font-size: 9px; 
			line-height: 12px; 
			color: black; 
			opacity: 0.4; 
			white-space: nowrap; 
			padding: 0px 2px; 
			position: absolute; 
			top: -30px; 
			left: 0px; 

			font-family: $AV-Light;
			font-size: 20px;
		}	
		.jslider-label-to { 
			left: auto; 
			right: 0; 
		}
		.jslider-value {
			left: 0; 
			// font-size: 9px;
			// white-space: nowrap; 
			// padding: 1px 2px 0; 
			position: absolute; 
			// top: -19px;
			// background: white; 
			// line-height: 12px; 
			// -moz-border-radius: 2px; 
			// -webkit-border-radius: 2px; 
			// -o-border-radius: 2px; 
			// border-radius: 2px; 


			// New
		    background-repeat: no-repeat !important;
		 //    background-size: 141px 47px;
		 //    width: 141px;
			// height: 47px;
			background: transparent !important;
			// padding-top: 50px;
			// padding-left: 10px;
			margin-top: -60px;
			display: none;
		}

		.jslider-value-to { 
			left: 80%; 
		}
		.jslider-scale { 
			position: relative; 
			top: 17px;
			width: 97%;
			//margin-left: 20px;

			& > :first-child, & > :last-child {
				border-left: 1px solid #CCC !important;
			}
			span { 
				position: absolute; 
				height: 28px; 
				/*border-left: 0 !important;*/
				font-size: 0; 
			}
			ins { 
				font-family: $AV-stack;
				font-size: 14px; 
				text-decoration: none; 
				position: absolute; 
				left: 0px; 
				top: 40px;
				color: #999;
                letter-spacing: 0.4px;
				width: 200px;
				left: -100px;
				text-align: center;
                line-height: 20px;
			}
		}
		.jslider-label, .jslider-value {
			small { 
				position: relative; 
				top: -0.4em; 
			}
		}

	}

	


	.jslider-single .jslider-pointer-to,
	.jslider-single .jslider-value-to,
	.jslider-single .jslider-bg .v,
	.jslider-limitless .jslider-label { display: none; }

	// &.bottom {
	// 	.jslider-pointer {
	// 		background: url('../img/slider-pointer-bottom.png') !important;
	// 	}
	// }
}

.left-tag {
    .slider-wrap {
        margin-left: 0;
    }
}

.left-tag .jslider .jslider-bg {
	background: url('../img/slider-gradient-bg.png') no-repeat center;
	width: 945px;
	height: 44px;
}

.left-tag .jslider {
	width: 104%;
	.jslider-scale { 
		width: 97%;
	}
}

// Specific case
.answer-slider .family-size {
	.jslider {
		.jslider-scale {
			& > :nth-child(2), 
			& > :nth-child(3), 
			& > :nth-child(4), 
			& > :nth-child(5) {
				display: none !important;
				ins {
					display: none !important;
				}
			}
		}
	}
}

// Specific case
div.fridge-capacity.people5 .jslider .jslider-value:not(.jslider-value-to) {
	margin-right: -50px !important;
	margin-left: auto;
}

.answer-slider.pointer-labels {
	.jslider {
		.jslider-value {
			// top: -52px;
			top: 0;
			opacity: 1 !important;
			width: 63px;
			height: 61px;
			margin-top: -48px;
			margin-left: -32px !important;
			display: block;
			padding-top: 10px;
			text-align: center;
			font-family: $AV-Light;
			font-size: 10px;
			text-transform: uppercase;
			color: #CCC;
			z-index: 5;
			span {
				font-family: $AV-Light;
				font-size: 28px;
				text-transform: uppercase;
				color: #CCC;
				opacity: 1;
			}
			div {
				position: absolute;
				width: 100%;
				top: 11px;
				opacity: 0;
			}
		}
	}
	
	// .slider-bottom-labels {
	// 	margin-top: 40px;
	// }
}
// .answer-slider.bottom.pointer-labels {
// 	.jslider {
// 		.jslider-value {
// 			margin-top: 24px;
// 			  padding-top: 38px;
// 		}
// 	}
// }

.slider-wrap {
	width: 853px;
	position: relative;
	display: inline-block;
	margin-left: 60px;
}

.has-dimension-label {
	.slider-bg-left {
		left: -63px;
	}
}
.multi-slider-wrap {
	margin-bottom: 40px;
	.slider-bg-left {
		left: -63px;
	}
	// .answer-slider.bottom {
	// 	margin-top: 25px;
	// }
}

.slider-answer-label-wrap {
	display: none;
}

.slider-labels.three {
	// .slider-bottom-labels {
	// 	& > :nth-child(2) {
	// 		display: inline-block;
	// 		left: 50%;
	// 	}
	// }

	.jslider-scale {
		& > :nth-child(2) {
			border-left: 1px solid #CCC !important;
		}
	}
}
.slider-labels.four {
	// .slider-bottom-labels {
	// 	// The middle two
	// 	& > :nth-child(2),
	// 	& > :nth-child(3) {
	// 		display: block;
	// 	}

	// 	& > :nth-child(2) {
	// 		left: 33%;
	// 	}
	// 	& > :nth-child(3) {
	// 		left: 65%;
	// 	}
	// }

	.jslider-scale {
		& > :nth-child(2), & > :nth-child(3) {
			border-left: 1px solid #CCC !important;
		}
	}
}

.slider-labels.five {
	// .slider-bottom-labels {
	// 	& > :nth-child(2),
	// 	& > :nth-child(3),
	// 	& > :nth-child(4), {
	// 		display: block;
	// 	}

	// 	& > :nth-child(2) {
	// 		left: 30%;
	// 	}
	// 	& > :nth-child(3) {
	// 		left: 50%;
	// 	}
	// 	& > :nth-child(4) {
	// 		left: 70%;
	// 	}
	// }

	.jslider-scale {
		& > :nth-child(2), & > :nth-child(3), & > :nth-child(4) {
			border-left: 1px solid #CCC !important;
		}
	}
}

.slider-labels.seven {

	.jslider-scale {
		& > span {border-left: 1px solid #CCC !important;}

		& > :nth-child(2), & > :nth-child(4), & > :nth-child(6) {
			height: 15px;
		}
	}
}

.slider-bottom-labels {
	display: block;
	width: 100%;
	position: relative;


	// All labels are bottom labels now........!~!!!!
	top: 125px;


	.slider-answer-label-wrap {
		// display: inline-block;
		position: absolute;
	}
	& > :first-child {
		display: inline-block;
		// left: 42px;
		left: 22px;
		text-align: center;
		float: left;
		// | LABEL
		// &:before {
		// 	content: '';
		// 	width: 1px;
		// 	background-color: #CCC;
		// 	height: 44px;
		// 	position: relative;
		// 	margin-right: 5px;
		// 	display: inline-block;
		// 	z-index: 9999;
		// 	// top: 17px;
		// }
	}
	// last
	& > :last-child {
		display: inline-block;
		// right: 42px;
		right: 19px;
		text-align: center;
		float: right;
		// &:before {
		// 	display: none;
		// }
		// LABEL |
		// &:after {
		// 	content: '';
		// 	width: 1px;
		// 	background-color: #777;
		// 	height: 44px;
		// 	position: relative;
		// 	margin-left: 5px;
		// 	display: inline-block;
		// 	z-index: 9999;
		// }
	}
	// Middle one
	//.slider-answer-label-wrap.3 {
	// 	position: relative;
	// 	margin-left: auto;
	// 	margin-right: auto;
	// 	display: inline-block;
	// }

	// new setup for line
	//   | 
	// LABEL
	.slider-answer-label-line {
		content: '';
		width: 1px;
		background-color: #CCC;
		height: 28px;
		position: relative;
		text-align: center;
		margin-right: auto;
		margin-left: auto;
		clear: both;
		display: block;
		z-index: 9999;
	}
}

// Move the labels up further so that the pointer label fits underneath
.pointer-labels .slider-labels {
	.slider-answer-label-wrap {
		top: -122px;
	}
}

.slider-labels {
	// .slider-answer-label-wrap.2 {
	// 	top: -90px !important;
	// }
	.slider-answer-label-wrap {
		top: -90px;
		// &:after, &:before {
		// 	top: 29px;
		// }
	}
	
}

// .slider-bottom-labels {
// 	.slider-answer-label-wrap {
// 		// display: inline-block; // only for special cases
// 		bottom: 20px;
// 	}
// 	& > :first-child, & > :last-child {
// 		// top: 90px;
// 		bottom: -100px;
// 	}
// }

// answer.text
.slider-answer-label {
	display: inline-block;
	font-family: $AV-Light;
	font-size: 20px;
	color: #CCC;
	text-transform: uppercase;
	// answer.text_more
	&.more {
		// display: block;
		text-transform: none;
		font-size: 15px;
		line-height: 15px;
	}
}

.slider-large-label-wrap {
	//@include large-square-label-wrap;

	width: 63px;
	height: 61px;
	//display: inline-block;
	//position: absolute;
	//left: -62px;
	//top: -7px;
	.slider-large-label {
		@include large-square-label;
		margin-right: -60px;
		font-size: 15px;
    	z-index: 11;
        top: 20px;
        color: #777;
	}

	//display: none;
}
// Slider labels

.slider-bg {
	display: inline-block;
	position: absolute;
	width: 413px;
	height: 63px;
	top: -8px;
	z-index: 5;
	// top: 15px;
	// bottom: -29px;
}
.slider-bg-left {
	background: url('../img/answer-grey-bg-left.png') center center no-repeat;
	left: 0;
	display: none;
}
.slider-bg-right {
	background: url('../img/answer-grey-bg-right.png') center center no-repeat;
	right: 0;
	display: none;
}

.scale-left .vertical {
	.jslider-scale {
		margin-left: -45px;

		span ins {
			margin-left: -116px !important;
			text-align: right !important;
		}
	}
}

.last-answer-active {
	.jslider-value {
		right: -32px !important;
	}
}


.answer-slider.no-jslider-scale {
	.jslider .jslider-scale {
		display: none !important;
	}
}

.answer-slider.no-jslider-value {
	.jslider .jslider-value {
		display: none !important;
	}
}

// Results Page
#results {
	.price-slider {
		margin-top: 60px;
		margin-bottom: 20px;
        width: 609px;
		.jslider-bg {
			position: relative; 
			width: 670px;
			height: 28px;
			background: url('../img/slider-results-bg.png');
			background-size: 100% 100%;
            background-repeat: no-repeat;
		}
	}
	.price-slider.pointer-labels {
		.jslider {
            div.jslider-pointer {
                top: -21px;
            }
			.jslider-value {
				// top: -52px;
				top: 0;
				opacity: 1 !important;
				width: 63px;
				height: 61px;
                background: url(/img/slider-tab.png) no-repeat center !important;
                background-position: (20px, 20px);
				margin-top: -48px;
				margin-left: -32px !important;
				display: block;
				padding-top: 10px;
				text-align: center;
				font-family: $AV-Light;
				font-size: 10px;
				text-transform: uppercase;
				color: #CCC;
				z-index: 5;
				span {
					font-family: $AV-Light;
					font-size: 17px;
					text-transform: uppercase;
					color: #777;
					opacity: 1;
				}
			}
		}
	}
}

[class$="val26"].min26, [class$="val27"].min27, [class$="val28"].min28, [class$="val29"].min29, [class$="val30"].min30, [class$="val31"].min31, [class$="val32"].min32, [class$="val33"].min33, [class$="val34"].min34, [class$="val35"].min35 {
	.jslider-value span {
		opacity: 0 !important;
	}

	.jslider-value div {
		opacity: 1 !important;
	}
}

/*slider-buttons*/
.answers-main-content.answer-buttons {
	padding-top: 40px;
	font-family: $AV-Light;

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	.answer-button-wrapper {
		display: inline-block;
	}

	.answer-button-wrapper:not(:last-child) {
		margin-right: 70px;
	}

	.answer-button {
		width: 60px;
		height: 60px;
        border: 1px #ccc solid;
		border-radius: 50%;
		opacity: 0.3;
		color: #7e7e7e;
		cursor: default;
	}

	.answer-button.selected {
		background-color: #edb129;
        border: 1px #edb129 solid;
		cursor: default;
		color: white;
	}

	.answer-button.enabled {
		opacity: 1;
		cursor: pointer;
	}

	.answer-button-content-wrapper {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);

		p {
			margin: 0;
			padding: 0;
		}

		.answer-button-answer {
			font-size: 9pt;
			height: 15px;
		}

		.answer-button-label {
			text-transform: uppercase;
            font-size: 7pt;
		}
	}
}

.answer-buttons.label-inches {
	.answer-button-wrapper:not(:first-child) .answer-button-answer::after {
		content: ' "';
		position: absolute;
		top: 1px;
	}
	.answer-button-wrapper:first-child .answer-button-answer {
		text-transform: uppercase;
		font-size: initial;
		padding-top: 1px;
		font-size: 8pt;
	}
}

.multi-slider-wrap {
	.jslider .jslider-true-bg {
		margin-left: -10px;
		top: 6px;

		img {
			width: 907px;
		}
	}
}

/*french css start*/
div[ng-class="fr_CA"] {
	.price-slider {
		.jslider-value span:before {
		    content: "";
		}
		/*.jslider-value span:after {
		    content: " $";
		}*/
	}

	.price-slider.pointer-labels {
		.jslider {
			padding-top: 11px !important;

			.jslider-value, .jslider-value * {
				font-size: 24px !important;
			}
		}
	}

	.slider-large-label {
		font-size: 18px;
		top: 15px;
	}
}

@media(max-width:1023px) {
	.answers-main-content.answer-buttons {
		position: absolute;
		top: -25px;
		width: 50%;
		left: 50%;
		padding-top: 0px;

		li.answer-button-wrapper {
			margin-right: 0 !important;
			margin-top: 50px;
            margin-left: 40px;
			width: 100%;
		}

		.answer-button {
			float: left;
			margin-left: 45px;
		}
	}
}

@media(max-width: 580px) {
	.jslider {
		.jslider-true-bg {
			margin-left: -21px !important;
			width: 20px !important;
		}
	}

	div.price-slider .jslider {
		.jslider-bg {
			margin-left: -16px;
		}

		div.jslider-pointer { 
			width: 43px;
			height: 37px;
			background: url('../img/slider-pointer-small.png') center center no-repeat !important;
			background-size: 43px 37px;
			top: -8px !important;
			margin-left: -23px;
		}

		.jslider-value-to {
			margin-right: -26px !important;
		}
	}
	#results div.price-slider.pointer-labels .jslider {
		div.jslider-value {
			width: 54px;
			height: 45px;
			margin-top: -36px;
			margin-left: -28px !important;

			span {
				font-size: 12px !important;
                margin-left: -3px;
			}
		}
	}

	div.answers-main-content.answer-buttons {
		top: -9px;

		li.answer-button-wrapper {
			margin-top: 1.2px !important;
            margin-left: 0px !important;
            -webkit-transform: scale(0.8);
            transform: scale(0.8);
		}
	}
    
}