.loading {
	width: 10000px;
	height: 10000px;
	position: absolute;
	top: -100px;
	left: -100px;
	background-color: white;
	z-index: 5000;
	.loading-icon {
		position: absolute;
		left: 50%;
		margin-left: -15px;
		display: block;
		top: 235px;
	}
}

.loaded {
	display: none;
}
