<!-- Icon box answers...this one in particular needs to be multiselect / checkbox - Fridge Q6 -->
<div class="answers-main-content boxes-icon-5-container" ng-controller="CheckboxCtrl">
	<a href="" ng-repeat="answer in qs.text[0].answers" 
	class="answer answer-option answer-box boxes-icon-5 {{answer.classes}}" ng-init="answer.activeImage=answer.image" ng-click="qs.disabled || toggle(qs.text[0].answers, answer); buttonState='down'" ng-mousedown="buttonState='down'"ng-mouseup="buttonState='up'" ng-class="{noanswer : !controls.questionHasAnswer, toggleButtonDown : buttonState=='down', toggleButtonUp : buttonState=='up', selected : answer.answer}">
		<div class="icon-wrap">
			<img class="normal" ng-src="{{answer.image}}" />
			<img class="hover" ng-if="!!answer.hover" ng-src="{{answer.hover}}" />
		</div>
		<div class="select-icon"></div>
		<div class="label-wrap">
			<div class="label-text" ng-bind-html="answer.text"></div>
		</div>
	</a>
</div>