<!-- Initial Categories and Subcategores with Large Custom Pictures -->
<div class="answers-main-content answers-category" ng-controller="RadioCtrl">
	<a href="" ng-repeat="answer in qs.text[0].answers" class="answer answer-option answer-box categories {{answer.classes}} col-md-{{boxWidth}}" ng-click="qs.disabled || toggle(qs.text[0].answers, answer);" ng-init="answer.activeImage=answer.image" ng-mousedown="buttonState='down'" ng-mouseup="buttonState='up'" ng-class="{noanswer : !controls.questionHasAnswer, toggleButtonDown : buttonState=='down', toggleButtonUp : buttonState=='up', selected : answer.answer}">
		<carousel interval="5000">
			<slide ng-repeat="image in answer.images">
				<img class="normal"  ng-src="{{image}}">
				<div class="carousel-caption">
					<div class="category-name">{{answer.text}}</div>
				</div>	
			</slide>
		</carousel>
	</a>
</div>