<!-- Checkbox multi-select answers - two columns for 4 anwsers and up with a blue bg -->
<div class="answers-main-content regular-4-container" ng-controller="CheckboxCtrl" ng-class="{'answersize34' : objSize(qs.text[0].answers) == 3 || objSize(qs.text[0].answers) == 4, 'answersize56' :  objSize(qs.text[0].answers) == 5 || objSize(qs.text[0].answers) == 6, 'answersize78' : objSize(qs.text[0].answers) == 7 || objSize(qs.text[0].answers) == 8}" data-ga-category="@appliance Appliance Segment" data-ga-action="Checked @question-name Box" data-ga-bind-label="@button-text">
	<a href="" data-ga-label class="answer answer-option answer-box checkbox-split {{qs.text[0].classes}}" ng-repeat="answer in qs.text[0].answers" ng-click="qs.disabled || toggle(qs.text[0].answers, answer); buttonState='down'" ng-mousedown="buttonState='down'"ng-mouseup="buttonState='up'" ng-class="{noanswer : !controls.questionHasAnswer, toggleButtonDown : buttonState=='down', toggleButtonUp : buttonState=='up', selected : answer.answer}">
		<div class="select-icon"></div>
        <div class="label-wrap" data-ga-label >
			<div class="label-text" data-ga-label ng-bind-html="answer.text"></div>
		</div>
		<div class="label-more-wrap" ng-class="{'long-answer': answer.text_more.length > 50}">
			<div class="label-text-more" ng-bind-html="answer.text_more"></div>
		</div>
	</a>
</div>