<!-- Checkbox multi-select answers - two columns for 4 anwsers and up -->
<div class="answers-main-content regular-4-container" ng-controller="CheckboxCtrl" ng-class="{'answersize34' : objSize(qs.text[0].answers) == 3 || objSize(qs.text[0].answers) == 4, 'answersize56' :  objSize(qs.text[0].answers) == 5 || objSize(qs.text[0].answers) == 6, 'answersize78' : objSize(qs.text[0].answers) == 7 || objSize(qs.text[0].answers) == 8}">
	<a href="" class="answer answer-option answer-box checkbox-4 {{qs.text[0].classes}}" ng-repeat="answer in qs.text[0].answers" ng-click="toggle(qs.text[0].answers, answer)" ng-mousedown="buttonState='down'" ng-mouseup="buttonState='up'" ng-class="{noanswer : !controls.questionHasAnswer, toggleButtonDown : buttonState=='down', toggleButtonUp : buttonState=='up', selected : answer.answer}">
		<div class="select-icon"></div>
		<div class="label-wrap">
			<div class="label-text" ng-bind-html="answer.text"></div>
		</div>
	</a>
</div>