<!-- Radio single-select answers - two columns for 2 answers -->
<div class="answers-main-content regular-3-container" ng-controller="RadioCtrl" ng-class="{'answersize34' : objSize(qs.text[0].answers) == 3 || objSize(qs.text[0].answers) == 4, 'answersize56' :  objSize(qs.text[0].answers) == 5 || objSize(qs.text[0].answers) == 6, 'answersize78' : objSize(qs.text[0].answers) == 7 || objSize(qs.text[0].answers) == 8}">
	<a href="" class="answer answer-option answer-box radio-3 {{qs.text[0].classes}}" ng-repeat="answer in qs.text[0].answers" ng-click="qs.disabled || toggle(qs.text[0].answers, answer); buttonState='down'" ng-mousedown="buttonState='down'"ng-mouseup="buttonState='up'" ng-class="{noanswer : !controls.questionHasAnswer, toggleButtonDown : buttonState=='down', toggleButtonUp : buttonState=='up', selected : answer.answer}">
		<div class="select-icon"></div>
		<div class="label-wrap">
			<div class="label-text" ng-bind-html="answer.text"></div>
		</div>
	</a>
</div>