<!-- Slider answer -->

<!-- http://darul75.github.io/ng-slider/ 
https://www.npmjs.com/package/ng-slider -->

<div ng-controller="SliderCtrl" >
    
        <div class="slider-large-label-wrap" ng-if="!!qs.text[0].options.dimension_label" style="width: 100px; clear: none; float:left">
            <span class="slider-large-label" ng-bind="qs.text[0].options.dimension_label"></span>
        </div>

    <div class="{{isTabletWidthOrLess ? 'hidden' : ''}} answers-main-content answer-slider val{{qs.text[0].answer}} {{qs.text[0].classes}}" ng-init="setLast(qs, true)">
        <div class="slider-wrap" data-ga-category="@appliance Appliance Segment" data-ga-action="Slide (@question-name) Bar" data-ga-bind-label="@slider-text" ng-class="{'last-answer-active' : qs.text[0].answer == qs.text[0].last}" style="clear:none; float:left">
		  <input ng-model="qs.text[0].answer" ng-change="setAnswer()"  type="text" id="answerSlider" slider options="qs.text[0].options" />
        </div>
	</div>

    <div class="answers-main-content answer-slider {{!isTabletWidthOrLess ? 'hidden' : ''}} val{{qs.text[0].answer}} {{qs.text[0].classes}}" ng-init="setLast(qs, false)">
        <div class="slider-wrap" data-ga-category="@appliance Appliance Segment" data-ga-action="Slide (@question-name) Bar" data-ga-bind-label="@slider-text" ng-class="{'last-answer-active' : qs.text[0].answer == qs.text[0].last}" style="clear:none; float:left">
          <input ng-model="qs.text[0].answer" ng-change="setAnswer()"  type="text" id="answerSlider" slider options="qs.text[0].verticalOptions" />
        </div>
    </div>
    <div class="slider-notes" ng-if="!!qs.notes[0]">
        <div class="slider-notes-title" bo-text="qs.notes[0].title"></div>
        <div class="slider-notes-text" bo-text="qs.notes[0].text"></div>
    </div>
</div>