<footer class="mobile">
	<!-- start mobile footer -->
	<!-- end mobile footer -->
</footer>
<footer class="desktop">
	<!-- start desktop footer-->
	<!-- Maytag Footer -->
	<div id="footer-wrap">
	    <div id="footer-nav">
	    <ul>
	    	<li><a href="http://www.whirlpool.ca/en_CA/major-appliances/">Major Appliances</a></li>
	    	<li><a href="http://www.whirlpool.ca/en_CA/shop/major-appliances-1/cooktops-3/102310008/">Cooktops</a></li>
	    	<li><a href="http://www.whirlpool.ca/en_CA/shop/major-appliances-1/dishwashers-3/102310014/">Dishwasher</a></li>
	    	<li><a href="http://www.whirlpool.ca/en_CA/shop/major-appliances-1/disposers-and-compactors-3/102310299/">Disposers & Compactors</a></li>
	    	<li><a href="http://www.whirlpool.ca/en_CA/shop/major-appliances-1/hoods-and-vents-3/102310029/">Hoods & Vents</a></li>
	    	<li><a href="http://www.whirlpool.ca/en_CA/shop/major-appliances-1/microwaves-3/102310037/">Microwaves</a></li>
	    	<li><a href="http://www.whirlpool.ca/en_CA/shop/major-appliances-1/ranges-3/102310042/">Ranges</a></li>
	    	<li><a href="http://www.whirlpool.ca/en_CA/shop/major-appliances-1/refrigerators-3/102310048/">Refrigerators</a></li>
	    	<li><a href="http://www.whirlpool.ca/en_CA/shop/major-appliances-1/refrigerators-2/undercounter-refrigerators-3/102310356/">Undercounter Refrigerators</a></li>
	    	<li><a href="http://www.whirlpool.ca/en_CA/shop/major-appliances-1/wall-ovens-3/102310003/">Wall Ovens</a></li>
	    	<li><a href="http://www.whirlpool.ca/en_CA/shop/major-appliances-1/warming-drawers-3/102310057/">Warming Drawers</a></li>
	    </ul>
	    <ul>
	    	<li><a href="http://www.whirlpool.ca/en_CA/countertop-appliances/">Countertop Appliances</a></li>
	    	<li><a href="http://www.whirlpool.ca/en_CA/countertop-appliances/pro-line/">Pro Line Series</a></li>
	    	<li><a href="http://www.whirlpool.ca/en_CA/2_1_2_30_209/brand_small-appliances_Beverage-Maker_overview.content.html">Beverage Products</a></li>
	    	<li><a href="http://www.whirlpool.ca/en_CA/countertop-appliances/blenders/">Blenders</a></li>
	    	<li><a href="http://www.whirlpool.ca/en_CA/countertop-appliances/coffee-products/">Coffee Products</a></li>
	    	<li><a href="http://www.whirlpool.ca/en_CA/countertop-appliances/commercial-products/">Commercial Products</a></li>
	    	<li><a href="http://www.whirlpool.ca/en_CA/countertop-appliances/countertop-ovens/">Countertop Ovens</a></li>
	    	<li><a href="http://www.whirlpool.ca/en_CA/countertop-appliances/kettles/">Electric Kettles</a></li>
	    	<li><a href="http://www.whirlpool.ca/en_CA/countertop-appliances/food-processors/">Food Processors</a></li>
	    	<li><a href="http://www.whirlpool.ca/en_CA/countertop-appliances/hand-blenders/">Hand Blenders</a></li>
	    	<li><a href="http://www.whirlpool.ca/en_CA/countertop-appliances/hand-mixers/">Hand Mixers</a></li>
	    	<li><a href="http://www.whirlpool.ca/en_CA/shop/countertop-appliances-1/juicers-3/102310341/">Juicers</a></li>
	    	<li><a href="http://www.whirlpool.ca/en_CA/countertop-appliances/slow-cookers/">Slow Cookers</a></li>
	    	<li><a href="http://www.whirlpool.ca/en_CA/shop/-%5B4KSS1121ER%5D-2104367/4KSS1121ER/">Sparkling Beverage Maker</a></li>
	    	<li><a href="http://www.whirlpool.ca/en_CA/countertop-appliances/stand-mixer-attachments/">Stand Mixer Attachments</a></li>
	    	<li><a href="http://www.whirlpool.ca/en_CA/countertop-appliances/stand-mixers/">Stand Mixers</a></li>
	    	<li><a href="http://www.whirlpool.ca/en_CA/countertop-appliances/toasters/">Toasters</a></li>
	    	<li><a href="http://www.whirlpool.ca/en_CA/countertop-appliances/waffle-makers/">Waffle Makers</a></li>
	    </ul>
	    <ul>
	    	<li><a href="http://www.whirlpool.ca/en_CA/kitchenware/">Kitchenware</a></li>
	    	<li><a href="http://www.whirlpool.ca/en_CA/shop/kitchenware-1/bakeware-3/102310174/">Bakeware</a></li>
	    	<li><a href="http://www.whirlpool.ca/en_CA/shop/kitchenware-1/cookware-3/102310335/">Cookware</a></li>
	    	<li><a href="http://www.whirlpool.ca/en_CA/shop/kitchenware-1/kettles-3/102310218/">Tea Kettles</a></li>
	    </ul>
	    <ul>
	    	<li><a href="http://www.whirlpool.ca/en_CA/customer-service/">Service & Support</a></li>
	    	<li><a href="http://www.whirlpool.ca/en_CA/customer-service/manuals/">Manuals & Literature</a></li>
	    	<li><a href="http://www.whirlpool.ca/en_CA/customer-service/my-appliances/">My Appliances</a></li>
	    	<li><a href="http://www.whirlpool.ca/en_CA/customer-service/register-products/">Register Products</a></li>
	    	<li><a href="http://www.whirlpool.ca/en_CA/customer-service/replacement-parts/">Replacement Parts</a></li>
	    	<li><a href="http://www.whirlpool.ca/en_CA/customer-service/schedule-service/">Schedule Service</a></li>
	    	<li><a href="http://www.whirlpool.ca/en_CA/2_2_91/global_certified-care.content.html">Certified Care</a></li>
	    	<li><a href="http://www.whirlpool.ca/en_CA/contact-us/">Contact Us</a></li>
	    </ul>
	    <ul>
	    	<li><a href="http://www.whirlpool.ca/en_CA/culinary-inspiration/">Culinary Inspiration</a></li>
	    	<li><a href="http://blog.whirlpool.ca/">Blog: United We Create</a></li>
	    	<li><a href="http://www.whirlpool.ca/en_CA/culinary-inspiration/kitchen-gallery/">Kitchen Gallery</a></li>
	    	<li><a href="http://www.whirlpool.ca/en_CA/culinary-inspiration/partners-and-events/">Partners and Events</a></li>
	    	<li><a href="http://www.whirlpool.ca/en_CA/2_2_762/global_stand-mixer-buying-guide.content.html">Find Your Stand Mixer</a></li>
	    </ul>
	    <ul>
	    	<li>Additional Resources</li>
	    	<li><a href="http://www.whirlpool.ca/en_CA/2_2_101/about-whirlpool/">About Whirlpool</a></li>
	    	<li><a href="http://www.whirlpoolcareers.com/">Careers</a></li>
	    	<li><a href="http://www.whirlpool.ca/en_CA/press-room/">Press Room</a></li>
	    	<li><a href="http://www.whirlpoolcorp.com/privacy/canada.aspx">Privacy Policy</a></li>
	    	<li><a href="http://www.whirlpool.ca/en_CA/site-map/">Site Map</a></li>
	    	<li><a href="http://www.whirlpool.ca/en_CA/terms-of-use/">Terms of Use</a></li>
	    	<li class="split"><span>Canada</span>|<span><a href="http://international.whirlpool.com/">Change</a></span></li>
	    </ul>
	</div>

</footer>