<footer class="mobile">
	<!-- start mobile footer -->
	<!-- end mobile footer -->
</footer>
<footer class="desktop">
	<!-- start desktop footer-->
	<!-- Maytag Footer -->
	<div id="footer-wrap">
	    <div id="footer-nav">
	    <ul>
				<li class="header"><a href="http://whirlpool.ca/fr_CA/gros-electromenagers/">GROS ÉLECTROMÉNAGERS</a></li>
				<li><a href="http://whirlpool.ca/fr_CA/magasiner/gros-electromenagers-1/tables-de-cuisson-3/102310008/">Tables de cuisson</a></li>
				<li><a href="http://whirlpool.ca/fr_CA/magasiner/gros-electromenagers-1/lave-vaisselle-3/102310014/">Lave-vaisselle</a></li>
				<li><a href="http://whirlpool.ca/fr_CA/magasiner/gros-electromenagers-1/broyeurs-et-compacteurs-3/102310299/">Broyeurs et compacteurs</a></li>
				<li><a href="http://whirlpool.ca/fr_CA/magasiner/gros-electromenagers-1/hottes-et-ventilation-3/102310029/">Hottes et ventilation</a></li>
				<li><a href="http://whirlpool.ca/fr_CA/magasiner/gros-electromenagers-1/fours-a-micro-ondes-3/102310037/">Fours à micro-ondes</a></li>
				<li><a href="http://whirlpool.ca/fr_CA/magasiner/gros-electromenagers-1/cuisinieres-3/102310042/">Cuisinières</a></li>
				<li><a href="http://whirlpool.ca/fr_CA/magasiner/gros-electromenagers-1/refrigerateurs-3/102310048/">Réfrigérateurs</a></li>

<li><a href="http://whirlpool.ca/fr_CA/shop/major-appliances-1/refrigerators-2/undercounter-refrigerators-3/102310356/">Réfrigérateur sous comptoir</a></li>


				<li><a href="http://whirlpool.ca/fr_CA/magasiner/gros-electromenagers-1/fours-encastres-3/102310003/">Fours encastrés</a></li>
				<li><a href="http://whirlpool.ca/fr_CA/magasiner/gros-electromenagers-1/tiroirs-rechauds-3/102310057/">Tiroirs-réchauds</a></li>
				<!--li class="shop-footer"><a href="http://whirlpool.ca/fr_CA/shop/">Tiroirs-réchauds</a></li-->
			</ul>
			<ul>
				<li class="header"><a href="http://whirlpool.ca/fr_CA/appareils-de-comptoir/">APPAREILS DE COMPTOIR</a></li>
				<li><a href="http://whirlpool.ca/fr_CA/appareils-de-comptoir/pro-line/">Série Pro Line</a></li>
				<li><a href="http://whirlpool.ca/fr_CA/appareils-de-comptoir/melangeurs/">Mélangeurs</a></li>
				<li><a href="http://whirlpool.ca/fr_CA/appareils-de-comptoir/cafetieres/">Cafetières</a></li>
				<li><a href="http://whirlpool.ca/fr_CA/appareils-de-comptoir/equipement-commercial/">Équipement commercial</a></li>
				<li><a href="http://whirlpool.ca/fr_CA/appareils-de-comptoir/fours-de-comptoir/">Fours de comptoir</a></li>
				<li><a href="http://whirlpool.ca/fr_CA/countertop-appliances/kettles/">Bouilloires électriques</a></li>
				<li><a href="http://whirlpool.ca/fr_CA/appareils-de-comptoir/robots-culinaires/">Robots culinaires</a></li>
				<li><a href="http://whirlpool.ca/fr_CA/appareils-de-comptoir/melangeurs-a-main/">Mélangeurs à main </a></li>
				<li><a href="http://whirlpool.ca/fr_CA/appareils-de-comptoir/batteurs-a-main/">Batteurs à main</a></li>
				<li><a href="http://whirlpool.ca/fr_CA/appareils-de-comptoir/mijoteuses/">Mijoteuses</a></li>
				<li><a href="http://whirlpool.ca/fr_CA/appareils-de-comptoir/accessoires-pour-batteur-sur-socle/">Accessoires pour batteur sur socle</a></li>
				<li><a href="http://whirlpool.ca/fr_CA/appareils-de-comptoir/batteurs-sur-socle/">Batteurs sur socle</a></li>
				<li><a href="http://whirlpool.ca/fr_CA/appareils-de-comptoir/grille-pain/">Grille-pain</a></li>
				<li><a href="http://whirlpool.ca/fr_CA/appareils-de-comptoir/gaufriers/">Gaufriers</a></li>
				<li><a href="http://whirlpool.ca/fr_CA/shop/-%5B4KSS1121ER%5D-2104367/4KSS1121ER/">Machine à boissons pétillantes</a></li>
				<li><a href="http://whirlpool.ca/fr_CA/shop/countertop-appliances-1/juicers-3/102310341/">Extracteur de jus</a></li>
			</ul>
			<ul>
				<li class="header"><a href="http://whirlpool.ca/fr_CA/accessoires-de-cuisson/">Accessoires de cuisson</a></li>
				 <li><a href="http://whirlpool.ca/fr_CA/magasiner/ustensiles-de-cuisine-1/accessoires-de-cuisson-3/102310174/">Accessoires de cuisson</a></li>
				 <li><a href="http://whirlpool.ca/fr_CA/magasiner/ustensiles-de-cuisine-1/ustensiles-de-cuisine-3/102310335/">Batteries de cuisine</a></li>
				 <li><a href="http://whirlpool.ca/fr_CA/magasiner/ustensiles-de-cuisine-1/bouilloires-3/102310218/">Bouilloires</a></li>
			</ul>
			<ul>
				<li class="header"><a href="http://whirlpool.ca/fr_CA/customer-service/">SERVICE ET SOUTIEN TECHNIQUE</a></li>
				<!--li><a href="http://whirlpool.ca/fr_CA/service-et-soutien-technique/faqs/">FAQs</a></li-->
				<li><a href="http://whirlpool.ca/fr_CA/service-et-soutien-technique/manuels/">Manuels et documentation</a></li>
				<li><a href="http://whirlpool.ca/fr_CA/service-et-soutien-technique/mes-electromenagers/">Mes électroménagers</a></li>
				<li><a href="http://whirlpool.ca/fr_CA/service-et-soutien-technique/enregistrement-dun-produit/">Enregistrement d’un produit</a></li>
				<li><a href="http://whirlpool.ca/fr_CA/service-et-soutien-technique/pieces-de-rechange/">Pièces de rechange</a></li>
				<li><a href="http://whirlpool.ca/fr_CA/service-et-soutien-technique/service-et-reparation/">Service et réparation</a></li>
				<li><a href="http://whirlpool.ca/fr_CA/2_2_91/global_certified-care.content.html">Programme d’entretien prolongé</a></li>
				<li><a href="http://whirlpool.ca/fr_CA/contactez-nous/">Contactez-nous</a></li>
			</ul>
			<ul>
				<li class="header"><a href="http://whirlpool.ca/fr_CA/culinary-inspiration/">INSPIRATIONS CULINAIRES</a></li>
				<li><a href="http://whirlpool.ca/fr_CA/inspirations-culinaires/cuisines-modeles/">Cuisines modèles</a></li>
				<li><a href="http://whirlpool.ca/fr_CA/inspirations-culinaires/partenaires-et-evenements/">Partenaires et événements</a></li>
			</ul>
			<ul>
				<li class="header">RESSOURCES ADDITIONNELLES</li>
				<li><a href="http://whirlpool.ca/fr_CA/2_2_101/lentreprise/">L'entreprise</a></li>
				<li><a href="http://www.whirlpoolcareers.com/" target="_blank">Carrières</a></li>
				<!--li><a href="http://whirlpool.ca/fr_CA/shop/cart/">Cart</a></li-->
				<!--li><a href="http://whirlpool.ca/fr_CA/contact-us/">Contact Us</a></li-->
				<!--li><a href="http://whirlpool.ca/fr_CA/experience-retail-center/">Experience Retail Center</a></li-->
				<!--li><a href="http://whirlpool.ca/fr_CA/webapp/wcs/stores/servlet/LogonForm?catalogId=10552&myAcctMain=1&langId=-1&storeId=10202">My Account</a></li-->
				<li><a href="http://whirlpool.ca/fr_CA/salle-de-presse/">Salle de presse</a></li>
				<li><a href="http://www.whirlpoolcorp.com/shared/content/privacy/canada_privacy_statement_french.pdf">Politique de confidentialité</a></li>
				<!--li><a href="http://whirlpool.ca/fr_CA/sign-up-for-email/">Sign Up for Email</a></li-->
				<li><a href="http://whirlpool.ca/fr_CA/carte-du-site/">Carte du site </a></li>
				<li><a href="http://whirlpool.ca/fr_CA/conditions-dutilisation/">Conditions d'utilisation</a></li>
				<li class="split"><span>Canada</span>|<span><a href="http://international.whirlpool.com/">Autres pays</a></span></li>
			</ul>		
	</div>

</footer>