<!--mobile start-->
	<header class="header-mobile" data-ga-category="@appliance Appliance Segment" data-ga-action="Selected Top Links">
		<a href="http://whirlpool.ca"><div class="brand">
			<img src="./img/img_logo.png" data-ga-label="Home"/>
		</div></a>
		<a href="http://whirlpool.ca"><div class="home header-button">
			<img src="./img/menu.png" data-ga-label="Home"/>
			<div data-ga-label="Home">Home</div>
		</div></a>
		<a href="http://whirlpool.ca/fr_CA/find-a-store"><div class="stores header-button">
			<img src="./img/stores.png" data-ga-label="Stores"/>
			<div data-ga-label="Stores">Magasins</div>
		</div></a>
	</header>
	<!--mobile end-->
	<!--desktop start-->
<header class="header-desktop" data-ga-category="My KA Qualifier TopNav-Links" data-ga-action="Selected Top Links">
<div id="header-wrap">
	<div class="header-content-wrap">
		<div class="upper">
			<ul class="pull-right">
				<li><a href="http://www.whirlpool.ca/fr_CA/2_2_1_1/support_where-to-buy_where-to-buy.content.html" data-ga-label="@clicked-text">Trouver un marchand</a></li>
				<li><a href="http://repair.whirlpool.com/" data-ga-label="@clicked-text">Rappel de produit</a></li>
				<li><p class="language pull-left"><a href="http://findmy.whirlpool.ca" data-ga-label="@clicked-text">English</a></p></li>
			</ul>
			<div class="search">
				<script>
					$('.search-textbox').keypress(function(e) {
						if (e.which == 13 || e.keyCode == 13) {
							e.preventDefault();
							doSearch();
						}
					});

					$('.search-textbox-icon,.search-submit').click(function(e){
						doSearch();
					});

					function doSearch() {
						var val = $('.search-textbox').val();
						if (!val) return;
						window.location = 'http://whirlpool.ca/webapp/wcs/stores/servlet/WHRORNAjaxCatalogSearchView?storeId=10228&catalogId=10578&langId=-300&beginIndex=0&searchTerm=' + val;
					}
				</script>
				<img class="search-textbox-icon" src="img/search-icon.jpg"/>
				<input type="text" name="searchTerm" placeholder="recherche" class="search-textbox">
				<button class="search-submit">Recherche</button>
			</div>
			<a data-ga-category="Whirlpool Qualifier Home" data-ga-action="Clicked Home Button" data-ga-label="To Main Site" class="logo pull-left"><img src="http://www.whirlpool.ca/wcs/images/img_logo.png"/></a>
		</div>
		<div class="lower" data-ga-action="Clicked Main Nav Tabs">
			<ul class="menu">
				<li>
					<a href="http://www.whirlpool.ca/fr_CA/Laundry-1/102280045/" data-ga-label="@clicked-text">Laveuses et sécheuses</a>
					<ul class="submenu laundry" data-ga-action="Clicked Laundry Dropdown Nav">
						<li>
							<ul class="subsubmenu washers">
								<li class="header" onclick="window.location='http://whirlpool.ca/fr_CA/Laundry-1/102280045/'">
									<img src="http://www.whirlpool.ca/images/content/img_learn3_new.png"> 
									<span class="header_container">
										<a href="http://whirlpool.ca/fr_CA/Laundry-1/102280045/">
											<span class="gaHeaderMenuItem learn_about" data-ga-label="@clicked-text">Laveuses et sécheuses</span>
										</a>
									</span>
								</li>
			
								<li>
									<a class="gaHeaderMenuItem" data-cat="Laundry" href="http://whirlpool.ca/fr_CA/Laundry-1/Laundry_Laundry_Washers-3/102280047+4294966847+4294966878+4294966825/" data-ga-label="@clicked-text">Laveuses</a>
								</li>
			
								<li>
									<a class="gaHeaderMenuItem" data-cat="Laundry" href="http://whirlpool.ca/fr_CA/Laundry-1/Laundry_Laundry_Dryers-3/102280052+4294966885+4294966987/" data-ga-label="@clicked-text">Sécheuses</a>
								</li>
			
								<li>
									<a class="gaHeaderMenuItem" data-cat="Laundry" href="http://whirlpool.ca/fr_CA/Laundry-1/Laundry_Laundry_Laundry_Pairs-3/102280056/" data-ga-label="@clicked-text">Duos de lessive</a>
								</li>
			
								<li>
									<a class="gaHeaderMenuItem" data-cat="Laundry" href="http://whirlpool.ca/fr_CA/Laundry-1/Laundry_Laundry_Washers-3/102280047+4294966986/" data-ga-label="@clicked-text">Laveuse/sécheuse superposées</a>
								</li>
			
								<li>
									<a class="gaHeaderMenuItem" data-cat="Laundry" href="http://whirlpool.ca/fr_CA/Laundry-1/Laundry_Laundry_Laundry_123_Organizers-3/102280061/" data-ga-label="@clicked-text">Laundry 1-2-3™</a>
								</li>
								
								<li class="last">
									<a class="gaHeaderMenuItem" data-cat="Laundry" href="http://whirlpool.ca/fr_CA/Accessories-1/Accessories_Laundry_Accessories-2/102280132/" data-ga-label="@clicked-text">Accessoires</a>
								</li>
							</ul>
						</li>
					</ul>
				</li>
				<li>
					<a href="http://www.whirlpool.ca/fr_CA/Kitchen-1/102280001/" data-ga-label="@clicked-text">Cuisine</a>
					<ul class="submenu kitchen multiple" data-ga-action="Clicked Refrigerators Dropdown Nav">
						<li>
							<ul class="subsubmenu first">
								<li style="height: auto;text-align:center;" class="">
									<a class="gaHeaderMenuItem" title="Learn About White Ice" data-cat="Refrigerators" href="http://whirlpool.ca/fr_CA/2_4_730/kitchen-collections_kitchen-collections.content.html?coltab=whiteIce" data-ga-label="@clicked-text"><img class="gaHeaderMenuItem" data-cat="Refrigerators" src="http://whirlpool.ca/images/kitchen_ice.png" alt="White Ice Collection"></a> <span style="top: 5px; text-align:center; position:relative; left:0; display:block;" data-cat="Refrigerators" class="gaHeaderMenuItem header_container"><a title="Learn About White Ice Collection" data-cat="Refrigerators" href="http://whirlpool.ca/fr_CA/2_4_730/kitchen-collections_kitchen-collections.content.html?coltab=whiteIce" class="centerNavText" data-ga-label="@clicked-text"><span data-cat="Refrigerators" class="gaHeaderMenuItem learn_about">Collection blanche</span></a></span>
								</li>
			
								<li style="height: auto;text-align:center; padding-top: 30px; border-bottom: 0pt none;" class="">
									<a class="gaHeaderMenuItem" data-cat="Refrigerators" href="http://whirlpool.ca/fr_CA/2_4_730/kitchen-collections_kitchen-collections.content.html?coltab=blackIce" title="Learn About Black Ice" data-ga-label="@clicked-text"><img class="gaHeaderMenuItem" data-cat="Refrigerators" alt="Black Ice Collection" src="http://whirlpool.ca/images/kitchen_blackice.jpg"></a> <span style="top: 5px; text-align:center; position:relative; left:0; display:block;"  data-cat="Refrigerators" class="gaHeaderMenuItem header_container"><a class="centerNavText" href="http://whirlpool.ca/fr_CA/2_4_730/kitchen-collections_kitchen-collections.content.html?coltab=blackIce" title="Learn About Black Ice" data-ga-label="@clicked-text"><span class="gaHeaderMenuItem learn_about" data-cat="Refrigerators">Collection noire</span></a></span>
								</li>
							</ul>
							<ul class="subsubmenu refrigerators" data-ga-action="Clicked Refrigerators Dropdown Nav">
								<li class="header" onclick="window.location='http://whirlpool.ca/fr_CA/Kitchen-1/Kitchen_Refrigeration-2/102280022/'"><img class="gaHeaderMenuItem" data-cat="Refrigerators" alt="Refrigerators" src="http://whirlpool.ca/images/img_learn_about_refrigerators_wh.png"> <span class="header_container"><a href="http://whirlpool.ca/fr_CA/Kitchen-1/Kitchen_Refrigeration-2/102280022/" title="Learn About Refrigerators"><span class="gaHeaderMenuItem learn_about" data-cat="Refrigerators">Réfrigérateurs</span></a></span></li>
			
								<li>
									<a class="gaHeaderMenuItem" data-cat="Refrigerators" href="http://whirlpool.ca/fr_CA/Kitchen-1/Kitchen_Refrigeration_Refrigerators-3/102280023+102110368/" data-ga-label="@clicked-text">À portes françaises</a>
								</li>
			
								<li>
									<a class="gaHeaderMenuItem" data-cat="Refrigerators" href="http://whirlpool.ca/fr_CA/Kitchen-1/Kitchen_Refrigeration_Refrigerators-3/102280023+102110369/" data-ga-label="@clicked-text">Côte à côte</a>
								</li>
			
								<li>
									<a class="gaHeaderMenuItem" data-cat="Refrigerators" href="http://whirlpool.ca/fr_CA/Kitchen-1/Kitchen_Refrigeration_Refrigerators-3/102280023+102110370/" data-ga-label="@clicked-text">À congélateur inférieur</a>
								</li>
			
								<li>
									<a class="gaHeaderMenuItem" data-cat="Refrigerators" href="http://whirlpool.ca/fr_CA/Kitchen-1/Kitchen_Refrigeration_Refrigerators-3/102280023+102110371/" data-ga-label="@clicked-text">À congélateur supérieur</a>
								</li>
			
								<li>
									<a class="gaHeaderMenuItem" data-cat="Refrigerators" href="http://whirlpool.ca/fr_CA/Kitchen-1/Kitchen_Refrigeration_Freezers-3/102280030/" data-ga-label="@clicked-text">Congélateurs</a>
								</li>
			
								<li>
									<a class="gaHeaderMenuItem" data-cat="Refrigerators" href="http://whirlpool.ca/fr_CA/Kitchen-1/Kitchen_Refrigeration_Refrigerators-3/102280023+102110372/" data-ga-label="@clicked-text">Machines à glaçons</a>
								</li>
								
								<li class="last">
									<a class="gaHeaderMenuItem" data-cat="Refrigerators" href="http://whirlpool.ca/fr_CA/Accessories-1/Accessories_Kitchen_Accessories_Refrigerator-3/102280119/" data-ga-label="@clicked-text">Accessoires</a>
								</li>
							</ul>
							<ul class="cooking subsubmenu" data-ga-action="Clicked Cooking Dropdown Nav">
								<li class="header" onclick="window.location='http://whirlpool.ca/fr_CA/Kitchen-1/Kitchen_Cooking-2/102280002/'"><img class="gaHeaderMenuItem" data-cat="Cooking" alt="Cooking" src="http://whirlpool.ca/images/img_learn_about_cooking.png"> <span class="header_container"><a href="http://whirlpool.ca/fr_CA/Kitchen-1/Kitchen_Cooking-2/102280002/" title="Learn About Cooking"><span data-cat="Cooking" class="gaHeaderMenuItem learn_about">Cuisson</span></a></span></li>
			
								<li>
									<a class="gaHeaderMenuItem" data-cat="Cooking" href="http://whirlpool.ca/fr_CA/Kitchen-1/Kitchen_Cooking_Ranges-3/102280003/" data-ga-label="@clicked-text">Cuisinières</a>
								</li>
			
								<li>
									<a class="gaHeaderMenuItem" data-cat="Cooking" href="http://whirlpool.ca/fr_CA/Kitchen-1/Kitchen_Cooking_Wall_Ovens-3/102280007/" data-ga-label="@clicked-text">Fours encastrés</a>
								</li>
			
								<li>
									<a class="gaHeaderMenuItem" data-cat="Cooking" href="http://whirlpool.ca/fr_CA/Kitchen-1/Kitchen_Cooking_Cooktops-3/102280011/" data-ga-label="@clicked-text">Tables de cuisson</a>
								</li>
			
								<li>
									<a class="gaHeaderMenuItem" data-cat="Cooking" href="http://whirlpool.ca/fr_CA/Kitchen-1/Kitchen_Cooking_Hoods-3/102280014/" data-ga-label="@clicked-text">Hottes</a>
								</li>
			
								<li>
									<a class="gaHeaderMenuItem" data-cat="Cooking" href="http://whirlpool.ca/fr_CA/Kitchen-1/Kitchen_Cooking_Microwaves-3/102280018/" data-ga-label="@clicked-text">Fours à micro-ondes</a>
								</li>
								
								<li class="last">
									<a class="gaHeaderMenuItem" data-cat="Cooking" href="http://whirlpool.ca/fr_CA/Accessories-1/Accessories_Kitchen_Accessories-2/102280079/" data-ga-label="@clicked-text">Accessoires</a>
								</li>
							</ul>
							<ul class="dishwashers subsubmenu">
								<li class="header" onclick="window.location='http://whirlpool.ca/fr_CA/Kitchen-1/Kitchen_Dishwasher__Cleaning-2/102280033/'"><img data-cat="Dishwashers" class="gaHeaderMenuItem" src="http://whirlpool.ca/images/img_learn_dishwashers.png" alt="Dishwashers"> <span class="header_container"><a title="Learn About Dishwashers &amp; Cleaners" href="http://whirlpool.ca/fr_CA/Kitchen-1/Kitchen_Dishwasher__Cleaning-2/102280033/" data-ga-label="@clicked-text"><span data-cat="Dishwashers" class="gaHeaderMenuItem learn_about" style="background-position: 79px 3px; display: block;">Lave-vaisselle et nettoyants</span></a></span></li>
			
								<li>
									<a class="gaHeaderMenuItem" data-cat="Dishwashers" href="http://whirlpool.ca/fr_CA/Kitchen-1/Kitchen_Dishwasher__Cleaning_Dishwashers-3/102280034/" data-ga-label="@clicked-text">Lave-vaisselle</a>
								</li>
			
								<li>
									<a class="gaHeaderMenuItem" data-cat="Dishwashers" href="http://whirlpool.ca/fr_CA/Kitchen-1/Kitchen_Dishwasher__Cleaning_Disposers-3/102280039/" data-ga-label="@clicked-text">Broyeurs à déchets</a>
								</li>
								
								<li class="last">
									<a class="gaHeaderMenuItem" data-cat="Dishwashers" href="http://whirlpool.ca/fr_CA/Accessories-1/Accessories_Kitchen_Accessories-2/102280079/" data-ga-label="@clicked-text">Accessoires</a>
								</li>
							</ul>
						</li>
					</ul>
				</li>
				<li>
					<a href="http://www.whirlpool.ca/fr_CA/Accessories-1/102280078/">Filtres et accessoires</a>
					<ul class="submenu accessories multiple">
						<li>
							<ul class="subsubmenu first" data-ga-action="Clicked Filters & Accessories Dropdown Nav">
								<li class="first">
									<a class="gaHeaderMenuItem accessories_header" data-cat="Laundry Accessories" href="http://whirlpool.ca/fr_CA/Accessories-1/Accessories_Laundry_Accessories-2/102280132/" data-ga-label="@clicked-text">Accessoires de lessive</a>
								</li>
			
								<li>
									<a class="gaHeaderMenuItem" data-cat="Laundry Accessories" href="http://whirlpool.ca/fr_CA/Accessories-1/Accessories_Laundry_Accessories_Washer-3/102280141/" data-ga-label="@clicked-text">Laveuse</a>
								</li>
			
								<li>
									<a class="gaHeaderMenuItem" data-cat="Laundry Accessories" href="http://whirlpool.ca/fr_CA/Accessories-1/Accessories_Laundry_Accessories_Dryer-3/102280133/" data-ga-label="@clicked-text">Sécheuse</a>
								</li>
							</ul>
			
							<ul class="subsubmenu">
								<li class="first">
									<a class="gaHeaderMenuItem" data-cat="Kitchen Accessories" href="http://whirlpool.ca/fr_CA/Accessories-1/Accessories_Kitchen_Accessories-2/102280079/" data-ga-label="@clicked-text">Accessoires de cuisine</a>
								</li>

								<li>
									<a class="gaHeaderMenuItem" data-cat="Kitchen Accessories" href="http://whirlpool.ca/fr_CA/Accessories-1/Accessories_Kitchen_Accessories_Refrigerator-3/102280119/" data-ga-label="@clicked-text">Réfrigérateurs</a>
								</li>
			
								<li>
									<a class="gaHeaderMenuItem" data-cat="Kitchen Accessories" href="http://whirlpool.ca/fr_CA/Accessories-1/Accessories_Kitchen_Accessories_Oven__Range-3/102280109/" data-ga-label="@clicked-text">Fours encastrés et cuisinières</a>
								</li>
			
								<li>
									<a class="gaHeaderMenuItem" data-cat="Kitchen Accessories" href="http://whirlpool.ca/fr_CA/Accessories-1/Accessories_Kitchen_Accessories_Dishwasher-3/102280087/" data-ga-label="@clicked-text">Lave-vaisselle</a>
								</li>
			
								<li>
									<a class="gaHeaderMenuItem" data-cat="Kitchen Accessories" href="http://whirlpool.ca/fr_CA/Accessories-1/Accessories_Kitchen_Accessories_Microwave-3/102280104/" data-ga-label="@clicked-text">Fours à micro-ondes</a>
								</li>
			
								<!--<li>
									<a class="gaHeaderMenuItem" data-cat="Kitchen Accessories" href="http://whirlpool.ca/fr_CA/Accessories-1/Accessories_Kitchen_Accessories_Compactor__Disposer-3/102280080/">Compacteurs et Broyeurs &#224; d&#233;chets</a>
								</li>-->
			
								<li>
									<a class="gaHeaderMenuItem" data-cat="Kitchen Accessories" href="http://whirlpool.ca/fr_CA/Accessories-1/Accessories_Kitchen_Accessories_Freezer-3/102280093/" data-ga-label="@clicked-text">Congélateurs</a>
								</li>
			
								<li>
									<a class="gaHeaderMenuItem" data-cat="Kitchen Accessories" href="http://whirlpool.ca/fr_CA/Accessories-1/Accessories_Kitchen_Accessories_Ice_Maker-3/102280100/" data-ga-label="@clicked-text">Machines à glaçons</a>
								</li>
							</ul>
			
							<ul class="subsubmenu last">
								<li class="first iefix">
									<a class="accessories_header gaHeaderMenuItem" data-cat="Filters and Accessories" href="http://whirlpool.ca/fr_CA/2_3_80/jump-pages_water-filters.content.html" data-ga-label="@clicked-text">Filtres à eau pour réfrigérateurs</a>
								</li>
								<li class="iefix">
									<a class="accessories_header gaHeaderMenuItem" data-cat="Filters and Accessories" href="http://whirlpool.ca/fr_CA/2_3_3327/jump-pages_affresh.content.html" data-ga-label="@clicked-text">Produits de nettoyage</a>
								</li>
							</ul>
						</li>
					</ul>
				</li>
				<li>
					<a href="http://www.whirlpool.ca/fr_CA/owner_center">Service et soutien technique</a>
					<ul class="submenu ownercenter multiple">
						<li>
							<ul class="first subsubmenu" data-ga-action="Clicked Service and Support Dropdown Nav">
								<li class="first">
									<a class="gaHeaderMenuItem" data-cat="Service and Support" href="http://whirlpool.ca/fr_CA/my_appliances" data-ga-label="@clicked-text">Mes électroménagers</a>
								</li>
			
								<li>
									<a class="gaHeaderMenuItem" data-cat="Service and Support" href="http://whirlpool.ca/fr_CA/product_registration" data-ga-label="@clicked-text">Enregistrement d’un produit</a>
								</li>
			
								<li>
									<a class="gaHeaderMenuItem" data-cat="Service and Support" href="http://whirlpool.ca/fr_CA/2_3_56/jump-pages_service-plan.content.html" data-ga-label="@clicked-text">Extended Service Plans</a>
								</li>
			
								<li>
									<a class="gaHeaderMenuItem" data-cat="Service and Support" href="http://whirlpool.ca/fr_CA/manuals" data-ga-label="@clicked-text">Programmes de service prolongé</a>
								</li>
			
								<li>
									<a class="gaHeaderMenuItem" data-cat="Service and Support" href="http://whirlpool.ca/fr_CA/schedule_repair" id="schedule-service-link" data-ga-label="@clicked-text">Manuels et documentation</a>
								</li>
			
								<li class="last">
									<a class="gaHeaderMenuItem" data-cat="Service and Support" href="http://whirlpool.ca/fr_CA/2_3_70/jump-pages_replacement-parts.content.html" data-ga-label="@clicked-text">Service et réparation</a>
								</li>
							</ul>
			
							<ul class="owners_callout_section last subsubmenu">
								<li class="last">
									<a class="gaHeaderMenuItem" data-cat="Manuals and Literature" href="http://whirlpool.ca/fr_CA/manuals" style="width: 136px;" data-ga-label="@clicked-text">Manuels et documentation</a>
								</li>
			
								<li class="last dots">Obtenez la fiche technique et d'autres informations concernant votre électroménager.</li>
			
								<li class="last">
									<a class="gaHeaderMenuItem" data-cat="Register Your Appliance" href="http://whirlpool.ca/fr_CA/product_registration" style="width:152px" data-ga-label="@clicked-text">Enregistrez votre électroménager</a>
								</li>
			
								<li>Recevez des services de garantie et des notifications relatives à la sécurité.</li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>
</header>