<!--mobile start-->
	<header class="header-mobile">
		<a href="http://whirlpool.ca"><div class="brand">
			<img src="./img/img_logo.png"/>
		</div></a>
		<a href="http://whirlpool.ca"><div class="home header-button">
			<img src="./img/menu.png"/>
			<div>Home</div>
		</div></a>
		<a href="http://whirlpool.ca/fr_CA/find-a-store"><div class="stores header-button">
			<img src="./img/stores.png"/>
			<div>Magasins</div>
		</div></a>
	</header>
	<!--mobile end-->
	<!--desktop start-->
<header class="header-desktop">
<div id="header-wrap">
	<div class="header-content-wrap">
		<div class="upper">
			<ul class="pull-right">
				<li><a href="http://www.whirlpool.ca/fr_CA/2_2_1_1/support_where-to-buy_where-to-buy.content.html">Trouver un marchand</a></li>
				<li><a href="http://repair.whirlpool.com/">Rappel de produit</a></li>
				<li><p class="language pull-left"><a href="http://findmy.mywhirlpool.ca">English</a></p></li>
			</ul>
			<div class="search">
				<script>
					$('.search-textbox').keypress(function(e) {
						if (e.which == 13 || e.keyCode == 13) {
							e.preventDefault();
							doSearch();
						}
					});

					$('.search-textbox-icon,.search-submit').click(function(e){
						doSearch();
					});

					function doSearch() {
						var val = $('.search-textbox').val();
						if (!val) return;
						window.location = 'http://whirlpool.ca/webapp/wcs/stores/servlet/WHRORNAjaxCatalogSearchView?storeId=10228&catalogId=10578&langId=-300&beginIndex=0&searchTerm=' + val;
					}
				</script>
				<img class="search-textbox-icon" src="img/search-icon.jpg"/>
				<input type="text" name="searchTerm" placeholder="recherche" class="search-textbox">
				<button class="search-submit">Recherche</button>
			</div>
			<a class="logo pull-left"><img src="http://www.whirlpool.ca/wcs/images/img_logo.png"/></a>
		</div>
		<div class="lower">
			<ul class="menu">
				<li><a href="http://www.whirlpool.ca/fr_CA/Laundry-1/102280045/">Laveuses et sécheuses</a></li>
				<li><a href="http://www.whirlpool.ca/fr_CA/Kitchen-1/102280001/">Cuisine</a></li>
				<li><a href="http://www.whirlpool.ca/fr_CA/Accessories-1/102280078/">Filtres et accessoires</a></li>
				<li><a href="http://www.whirlpool.ca/fr_CA/owner_center">Service et soutien technique</a></li>
			</ul>
		</div>
	</div>
</div>
</header>