<!--mobile start-->
	<header class="header-mobile" data-ga-category="@appliance Appliance Segment">
		<a href="http://whirlpool.ca"><div class="brand">
			<img src="./img/img_logo.png" data-ga-label="Home"/>
		</div></a>
		<a href="http://whirlpool.ca"><div class="home header-button">
			<img src="./img/menu.png" data-ga-label="Home"/>
			<div data-ga-label="Home">Home</div>
		</div></a>
		<a href="http://whirlpool.ca/en_CA/find-a-store"><div class="stores header-button">
			<img src="./img/stores.png" data-ga-label="Stores"/>
			<div data-ga-label="Stores">Stores</div>
		</div></a>
	</header>
	<!--mobile end-->
	<!--desktop start-->
<header class="header-desktop" data-ga-category="My KA Qualifier TopNav-Links" data-ga-action="Selected Top Links">
<div id="header-wrap">
	<div class="header-content-wrap">
		<div class="upper">
			<ul class="pull-right">
				<li><a href="http://www.whirlpool.ca/en_CA/2_2_1_1/support_where-to-buy_where-to-buy.content.html" data-ga-label="@clicked-text">Find a retailer</a></li>
				<li><a href="http://repair.whirlpool.com/" data-ga-label="@clicked-text">Recalls</a></li>
				<li><p class="language pull-left" data-ga-label="@clicked-text"><a href="http://trouvermon.whirlpool.ca">Français</a></p></li>
			</ul>
			<div class="search">
				<script>
					$('.search-textbox').keypress(function(e) {
						if (e.which == 13 || e.keyCode == 13) {
							e.preventDefault();
							doSearch();
						}
					});

					$('.search-textbox-icon,.search-submit').click(function(e){
						doSearch();
					});

					function doSearch() {
						var val = $('.search-textbox').val();
						if (!val) return;
						window.location = 'http://whirlpool.ca/webapp/wcs/stores/servlet/WHRORNAjaxCatalogSearchView?storeId=10228&catalogId=10578&langId=-300&beginIndex=0&searchTerm=' + val;
					}
				</script>
				<img class="search-textbox-icon" src="img/search-icon.jpg"/>
				<input type="text" name="searchTerm" placeholder="search" class="search-textbox">
				<button class="search-submit">Ok</button>
			</div>
			<a data-ga-category="Whirlpool Qualifier Home" data-ga-action="Clicked Home Button" data-ga-label="To Main Site" class="logo pull-left"><img src="http://www.whirlpool.ca/wcs/images/img_logo.png"/></a>
		</div>
		<div class="lower" data-ga-action="Clicked Main Nav Tabs">
	<ul class="menu">
		<li>
			<a href="http://www.whirlpool.ca/en_CA/2_3_512/jump-pages_everyday-care.content.html" data-ga-label="@clicked-text">Every day, Care. &trade;</a>
		</li>
		<li>
			<a href="http://www.whirlpool.ca/en_CA/Laundry-1/102280045/" data-ga-label="@clicked-text">Laundry</a>
			<ul class="submenu laundry" data-ga-action="Clicked Laundry Dropdown Nav">
				<li>
					<ul class="subsubmenu washers">
						<li class="header" onclick="window.location='http://whirlpool.ca/en_CA/Laundry-1/102280045/'"><img src="http://www.whirlpool.ca/images/content/img_learn3_new.png"> <span class="header_container"><a href="http://whirlpool.ca/en_CA/Laundry-1/102280045/" data-ga-label="@clicked-text"><span class="gaHeaderMenuItem learn_about">Laundry</span></a></span></li>
						<li>
							<a class="gaHeaderMenuItem" data-cat="Laundry" href="http://whirlpool.ca/en_CA/Laundry-1/Laundry_Laundry_Washers-3/102280047+4294966847+4294966878+4294966825/" data-ga-label="@clicked-text">Washers</a>
						</li>
						<li>
							<a class="gaHeaderMenuItem" data-cat="Laundry" href="http://whirlpool.ca/en_CA/Laundry-1/Laundry_Laundry_Dryers-3/102280052+4294966885+4294966987/" data-ga-label="@clicked-text">Dryers</a>
						</li>
						<li>
							<a class="gaHeaderMenuItem" data-cat="Laundry" href="http://whirlpool.ca/en_CA/Laundry-1/Laundry_Laundry_Laundry_Pairs-3/102280056/" data-ga-label="@clicked-text">Laundry Pairs</a>
						</li>
						<li>
							<a class="gaHeaderMenuItem" data-cat="Laundry" href="http://whirlpool.ca/en_CA/Laundry-1/Laundry_Laundry_Washers-3/102280047+4294966986/" data-ga-label="@clicked-text">Washer-Dryer Combos</a>
						</li>
						<li>
							<a class="gaHeaderMenuItem" data-cat="Laundry" href="http://whirlpool.ca/en_CA/Laundry-1/Laundry_Laundry_Laundry_123_Organizers-3/102280061/" data-ga-label="@clicked-text">Laundry 1-2-3™ Organizers</a>
						</li>
						<li class="last">
							<a class="gaHeaderMenuItem" data-cat="Laundry" href="http://whirlpool.ca/en_CA/Accessories-1/Accessories_Laundry_Accessories-2/102280132/" data-ga-label="@clicked-text">Accessories</a>
						</li>
					</ul>
				</li>
			</ul>
		</li>
		<li>
			<a href="http://www.whirlpool.ca/en_CA/Kitchen-1/102280001/" data-ga-label="@clicked-text">Kitchen</a>
			<ul class="submenu kitchen multiple" data-ga-action="Clicked Refrigerators Dropdown Nav">
				<li>
					<ul class="subsubmenu first">
						<li class="" style="height: auto;text-align:center;">
							<a class="gaHeaderMenuItem" data-cat="Refrigerators" href="http://whirlpool.ca/en_CA/2_4_730/kitchen-collections_kitchen-collections.content.html?coltab=whiteIce" title="Learn About White Ice"><img alt="White Ice Collection" class="gaHeaderMenuItem" data-cat="Refrigerators" src="http://whirlpool.ca/images/kitchen_ice.png"></a> <span class="gaHeaderMenuItem header_container" data-cat="Refrigerators" style="top: 5px; text-align:center; position:relative; left:0; display:block;"><a class="centerNavText" data-cat="Refrigerators" href="http://whirlpool.ca/en_CA/2_4_730/kitchen-collections_kitchen-collections.content.html?coltab=whiteIce" title="Learn About White Ice Collection"><span class="gaHeaderMenuItem learn_about" data-cat="Refrigerators">White Ice Collection</span></a></span>
						</li>
						<li class="" style="height: auto;text-align:center; padding-top: 30px; border-bottom: 0pt none;">
							<a class="gaHeaderMenuItem" data-cat="Refrigerators" href="http://whirlpool.ca/en_CA/2_4_730/kitchen-collections_kitchen-collections.content.html?coltab=blackIce" title="Learn About Black Ice"><img alt="Black Ice Collection" class="gaHeaderMenuItem" data-cat="Refrigerators" src="http://whirlpool.ca/images/kitchen_blackice.jpg"></a> <span class="gaHeaderMenuItem header_container" data-cat="Refrigerators" style="top: 5px; text-align:center; position:relative; left:0; display:block;"><a class="centerNavText" href="http://whirlpool.ca/en_CA/2_4_730/kitchen-collections_kitchen-collections.content.html?coltab=blackIce" title="Learn About Black Ice"><span class="gaHeaderMenuItem learn_about" data-cat="Refrigerators">Black Ice Collection</span></a></span>
						</li>
					</ul>
					<ul class="subsubmenu refrigerators" data-ga-action="Clicked Refrigerators Dropdown Nav">
						<li class="header" onclick="window.location='http://whirlpool.ca/en_CA/Kitchen-1/Kitchen_Refrigeration-2/102280022/'"><img alt="Refrigerators" class="gaHeaderMenuItem" data-cat="Refrigerators" src="http://whirlpool.ca/images/img_learn_about_refrigerators_wh.png"> <span class="header_container"><a href="http://whirlpool.ca/en_CA/Kitchen-1/Kitchen_Refrigeration-2/102280022/" data-ga-label="@clicked-text" title="Learn About Refrigerators"><span class="gaHeaderMenuItem learn_about" data-cat="Refrigerators">Refrigerators</span></a></span></li>
						<li>
							<a class="gaHeaderMenuItem" data-cat="Refrigerators" href="http://whirlpool.ca/en_CA/Kitchen-1/Kitchen_Refrigeration_Refrigerators-3/102280023+102110368/" data-ga-label="@clicked-text">French Door</a>
						</li>
						<li>
							<a class="gaHeaderMenuItem" data-cat="Refrigerators" href="http://whirlpool.ca/en_CA/Kitchen-1/Kitchen_Refrigeration_Refrigerators-3/102280023+102110369/" data-ga-label="@clicked-text">Side-by-Side</a>
						</li>
						<li>
							<a class="gaHeaderMenuItem" data-cat="Refrigerators" href="http://whirlpool.ca/en_CA/Kitchen-1/Kitchen_Refrigeration_Refrigerators-3/102280023+102110370/" data-ga-label="@clicked-text">Bottom-Freezer</a>
						</li>
						<li>
							<a class="gaHeaderMenuItem" data-cat="Refrigerators" href="http://whirlpool.ca/en_CA/Kitchen-1/Kitchen_Refrigeration_Refrigerators-3/102280023+102110371/" data-ga-label="@clicked-text">Top-Freezer</a>
						</li>
						<li>
							<a class="gaHeaderMenuItem" data-cat="Refrigerators" href="http://whirlpool.ca/en_CA/Kitchen-1/Kitchen_Refrigeration_Freezers-3/102280030/" data-ga-label="@clicked-text">Freezers</a>
						</li>
						<li>
							<a class="gaHeaderMenuItem" data-cat="Refrigerators" href="http://whirlpool.ca/en_CA/Kitchen-1/Kitchen_Refrigeration_Refrigerators-3/102280023+102110372/" data-ga-label="@clicked-text">Ice Makers</a>
						</li>
						<li class="last">
							<a class="gaHeaderMenuItem" data-cat="Refrigerators" href="http://whirlpool.ca/en_CA/Accessories-1/Accessories_Kitchen_Accessories_Refrigerator-3/102280119/" data-ga-label="@clicked-text">Accessories</a>
						</li>
					</ul>
					<ul class="cooking subsubmenu" data-ga-action="Clicked Cooking Dropdown Nav">
						<li class="header" onclick="window.location='http://whirlpool.ca/en_CA/Kitchen-1/Kitchen_Cooking-2/102280002/'"><img alt="Cooking" class="gaHeaderMenuItem" data-cat="Cooking" src="http://whirlpool.ca/images/img_learn_about_cooking.png"> <span class="header_container"><a href="http://whirlpool.ca/en_CA/Kitchen-1/Kitchen_Cooking-2/102280002/" data-ga-label="@clicked-text" title="Learn About Cooking"><span class="gaHeaderMenuItem learn_about" data-cat="Cooking">Cooking</span></a></span></li>
						<li>
							<a class="gaHeaderMenuItem" data-cat="Cooking" href="http://whirlpool.ca/en_CA/Kitchen-1/Kitchen_Cooking_Ranges-3/102280003/" data-ga-label="@clicked-text">Ranges</a>
						</li>
						<li>
							<a class="gaHeaderMenuItem" data-cat="Cooking" href="http://whirlpool.ca/en_CA/Kitchen-1/Kitchen_Cooking_Wall_Ovens-3/102280007/" data-ga-label="@clicked-text">Wall Ovens</a>
						</li>
						<li>
							<a class="gaHeaderMenuItem" data-cat="Cooking" href="http://whirlpool.ca/en_CA/Kitchen-1/Kitchen_Cooking_Cooktops-3/102280011/" data-ga-label="@clicked-text">Cooktops</a>
						</li>
						<li>
							<a class="gaHeaderMenuItem" data-cat="Cooking" href="http://whirlpool.ca/en_CA/Kitchen-1/Kitchen_Cooking_Hoods-3/102280014/" data-ga-label="@clicked-text">Hoods</a>
						</li>
						<li>
							<a class="gaHeaderMenuItem" data-cat="Cooking" href="http://whirlpool.ca/en_CA/Kitchen-1/Kitchen_Cooking_Microwaves-3/102280018/" data-ga-label="@clicked-text">Microwaves</a>
						</li>
						<li class="last">
							<a class="gaHeaderMenuItem" data-cat="Cooking" href="http://whirlpool.ca/en_CA/Accessories-1/Accessories_Kitchen_Accessories-2/102280079/" data-ga-label="@clicked-text">Accessories</a>
						</li>
					</ul>
					<ul class="dishwashers subsubmenu" data-ga-action="Clicked Dishwashers Dropdown Nav">
						<li class="header" onclick="window.location='http://whirlpool.ca/en_CA/Kitchen-1/Kitchen_Dishwasher__Cleaning-2/102280033/'"><img alt="Dishwashers" class="gaHeaderMenuItem" data-cat="Dishwashers" src="http://whirlpool.ca/images/img_learn_dishwashers.png"> <span class="header_container"><a href="http://whirlpool.ca/en_CA/Kitchen-1/Kitchen_Dishwasher__Cleaning-2/102280033/" data-ga-label="@clicked-text" title="Learn About Dishwashers &amp; Cleaners"><span class="gaHeaderMenuItem learn_about" data-cat="Dishwashers" style="background-position: 79px 3px; display: block;">Dishwashers<br>
						&amp; Cleaning</span></a></span></li>
						<li>
							<a class="gaHeaderMenuItem" data-cat="Dishwashers" href="http://whirlpool.ca/en_CA/Kitchen-1/Kitchen_Dishwasher__Cleaning_Dishwashers-3/102280034/" data-ga-label="@clicked-text">Dishwashers</a>
						</li>
						<li>
							<a class="gaHeaderMenuItem" data-cat="Dishwashers" href="http://whirlpool.ca/en_CA/Kitchen-1/Kitchen_Dishwasher__Cleaning_Disposers-3/102280039/" data-ga-label="@clicked-text">Disposers</a>
						</li>
						<li class="last">
							<a class="gaHeaderMenuItem" data-cat="Dishwashers" href="http://whirlpool.ca/en_CA/Accessories-1/Accessories_Kitchen_Accessories-2/102280079/" data-ga-label="@clicked-text">Accessories</a>
						</li>
					</ul>
				</li>
			</ul>
		</li>
		<li>
			<a href="http://www.whirlpool.ca/en_CA/Accessories-1/102280078/" data-ga-label="@clicked-text">Filters & Accessories</a>
			<ul class="submenu accessories multiple">
				<li>
					<ul class="subsubmenu first" data-ga-action="Clicked Filters & Accessories Dropdown Nav">
						<li class="first">
							<a class="gaHeaderMenuItem accessories_header" data-cat="Laundry Accessories" href="http://whirlpool.ca/en_CA/Accessories-1/Accessories_Laundry_Accessories-2/102280132/" data-ga-label="@clicked-text">Laundry<br>
							Accessories</a>
						</li>
						<li>
							<a class="gaHeaderMenuItem" data-cat="Laundry Accessories" href="http://whirlpool.ca/en_CA/Accessories-1/Accessories_Laundry_Accessories_Washer-3/102280141/" data-ga-label="@clicked-text">Washer</a>
						</li>
						<li>
							<a class="gaHeaderMenuItem" data-cat="Laundry Accessories" href="http://whirlpool.ca/en_CA/Accessories-1/Accessories_Laundry_Accessories_Dryer-3/102280133/" data-ga-label="@clicked-text">Dryer</a>
						</li>
					</ul>
					<ul class="subsubmenu" data-ga-action="Clicked Majors Dropdown Nav">
						<li class="first">
							<a class="gaHeaderMenuItem" data-cat="Kitchen Accessories" href="http://whirlpool.ca/en_CA/Accessories-1/Accessories_Kitchen_Accessories-2/102280079/" data-ga-label="@clicked-text">Kitchen<br>
							Accessories</a>
						</li>
						<li>
							<a class="gaHeaderMenuItem" data-cat="Kitchen Accessories" href="http://whirlpool.ca/en_CA/Accessories-1/Accessories_Kitchen_Accessories_Refrigerator-3/102280119/" data-ga-label="@clicked-text">Refrigerator</a>
						</li>
						<li>
							<a class="gaHeaderMenuItem" data-cat="Kitchen Accessories" href="http://whirlpool.ca/en_CA/Accessories-1/Accessories_Kitchen_Accessories_Oven__Range-3/102280109/" data-ga-label="@clicked-text">Wall Ovens &amp; Ranges</a>
						</li>
						<li>
							<a class="gaHeaderMenuItem" data-cat="Kitchen Accessories" href="http://whirlpool.ca/en_CA/Accessories-1/Accessories_Kitchen_Accessories_Dishwasher-3/102280087/" data-ga-label="@clicked-text">Dishwasher</a>
						</li>
						<li>
							<a class="gaHeaderMenuItem" data-cat="Kitchen Accessories" href="http://whirlpool.ca/en_CA/Accessories-1/Accessories_Kitchen_Accessories_Microwave-3/102280104/" data-ga-label="@clicked-text">Microwave</a>
						</li>
						<li>
							<a class="gaHeaderMenuItem" data-cat="Kitchen Accessories" href="http://whirlpool.ca/en_CA/Accessories-1/Accessories_Kitchen_Accessories_Compactor__Disposer-3/102280080/" data-ga-label="@clicked-text">Compactor &amp; Disposer</a>
						</li>
						<li>
							<a class="gaHeaderMenuItem" data-cat="Kitchen Accessories" href="http://whirlpool.ca/en_CA/Accessories-1/Accessories_Kitchen_Accessories_Freezer-3/102280093/" data-ga-label="@clicked-text">Freezer</a>
						</li>
						<li>
							<a class="gaHeaderMenuItem" data-cat="Kitchen Accessories" href="http://whirlpool.ca/en_CA/Accessories-1/Accessories_Kitchen_Accessories_Ice_Maker-3/102280100/" data-ga-label="@clicked-text">Ice Maker</a>
						</li>
					</ul>
					<ul class="subsubmenu last" data-ga-action="Clicked Filters and Accessories Dropdown Nav">
						<li class="first iefix">
							<a class="accessories_header gaHeaderMenuItem" data-cat="Filters and Accessories" href="http://whirlpool.ca/en_CA/2_3_80/jump-pages_water-filters.content.html" data-ga-label="@clicked-text">Refrigerator<br>
							Water Filters</a>
						</li>
						<li class="iefix">
							<a class="accessories_header gaHeaderMenuItem" data-cat="Filters and Accessories" href="http://whirlpool.ca/en_CA/2_3_3327/jump-pages_affresh.content.html" data-ga-label="@clicked-text">Cleaning<br>
							Products</a>
						</li>
					</ul>
				</li>
			</ul>
		</li>
		<li>
			<a href="http://www.whirlpool.ca/en_CA/owner_center" data-ga-label="@clicked-text">Service & Support</a>
			<ul class="submenu ownercenter multiple">
				<li>
					<ul class="first subsubmenu" data-ga-action="Clicked Service and Support Dropdown Nav">
						<li class="first">
							<a class="gaHeaderMenuItem" data-cat="Service and Support" href="http://whirlpool.ca/en_CA/my_appliances" data-ga-label="@clicked-text">My Appliances</a>
						</li>
						<li>
							<a class="gaHeaderMenuItem" data-cat="Service and Support" href="http://whirlpool.ca/en_CA/product_registration" data-ga-label="@clicked-text">Product Registration</a>
						</li>
						<li>
							<a class="gaHeaderMenuItem" data-cat="Service and Support" href="http://whirlpool.ca/en_CA/2_3_56/jump-pages_service-plan.content.html" data-ga-label="@clicked-text">Extended Service Plans</a>
						</li>
						<li>
							<a class="gaHeaderMenuItem" data-cat="Service and Support" href="http://whirlpool.ca/en_CA/manuals" data-ga-label="@clicked-text">Manuals &amp; Literature</a>
						</li>
						<li>
							<a class="gaHeaderMenuItem" data-cat="Service and Support" href="http://whirlpool.ca/en_CA/schedule_repair" id="schedule-service-link" data-ga-label="@clicked-text">Service &amp; Repair</a>
						</li>
						<li class="last">
							<a class="gaHeaderMenuItem" data-cat="Service and Support" href="http://whirlpool.ca/en_CA/2_3_70/jump-pages_replacement-parts.content.html" data-ga-label="@clicked-text">Replacement Parts</a>
						</li>
					</ul>
					<ul class="owners_callout_section last subsubmenu" data-ga-action="Clicked Majors Dropdown Nav">
						<li class="last">
							<a class="gaHeaderMenuItem" data-cat="Manuals and Literature" href="http://whirlpool.ca/en_CA/manuals" style="width: 136px;" data-ga-label="@clicked-text">Manuals &amp; Literature</a>
						</li>
						<li class="last dots">Get specifications and other<br>
						information about your appliance.</li>
						<li class="last">
							<a class="gaHeaderMenuItem" data-cat="Register Your Appliance" href="http://whirlpool.ca/en_CA/product_registration" style="width:152px" data-ga-label="@clicked-text">Register your appliance</a>
						</li>
						<li>Get Warranty service and safety notifications.</li>
					</ul>
				</li>
			</ul>
		</li>
		<li>
			<a href="http://blog.whirlpool.ca/" data-ga-label="@clicked-text">Our Blog</a>
		</li>
	</ul>
</div>
	</div>
</div>
</header>