<div ng-controller="NavigationCtrl" ng-class="{{locale}}" resize style="clear: both;" class="app-content-main-bottom" data-ga-category="@appliance Appliance Navigation">
 	<!--<div class="mobile-nav" ng-if="isTabletWidthOrLess" hmhm-swipeleftright="!!questionsData.question.previous || previous()" hmhm-swipeleftleft="(!!questionsData.question && questionsData.question.name !='Appliance' && !controls.questionHasAnswer) || next()"></div>-->

	<div bo-text="brandData.appText.changeYourAnswer" ng-if="!questionsData.question"></div>

		<div ng-if="!isTabletWidthOrLess" class="app-nav-arrows" >
		<a href="" data-ga-action="Clicked Previous" class="btn-prev" ng-click="previous()" id="previous" ng-if="!!questionsData.question.previous">
			<img data-ga-label="@question-name" class="arrow-prev" ng-src="img/arrow-left.png" alt="{{brandData.appText.previousQuestionAlt}}">
		</a>

        <a href="" data-ga-action="Clicked Next" class="btn-next" ng-if="!!questionsData.question && questionsData.question.name !='Appliance'" ng-click="!controls.questionHasAnswer || next()" id="next" ng-class="{'disabled' : !controls.questionHasAnswer}">
			<img data-ga-label="@question-name" class="arrow-next" ng-src="img/arrow-right.png" alt="{{brandData.appText.nextQuestionAlt}}">
		</a>

	</div>

	<div class="app-content-main-bottom-left">
		
	</div>

	<resultsmenu ng-if="isTabletWidthOrLess && atResultsPage" class="app-content-main-bottom-results"></resultsmenu>

	<div class="app-content-main-bottom-center" ng-if="questionsData.question.name !='Appliance' && questionsData.question.name !='Cooking - Pre-Qualifier 1' && (!isTabletWidthOrLess || (!atResultsPage && isTabletWidthOrLess))">
		<div class="bottom-nav-wrap">
			<div class="bottom-nav-inner">

				<div class="bottom-nav-intructions" ng-class="{'hidden': atResultsPage && isTabletWidthOrLess}">
					<span class="instructions" bo-text="brandData.apptext.changeYourAnswer"></span>
                    <!--<span ng-if="isTabletWidthOrLess" class="mobileInstructions">hm-swipeleft for next question</span>-->
                    <div ng-if="isTabletWidthOrLess" class="mobile-app-nav-arrows">
						<a href="#" class="btn-prev" ng-click="previous()" id="previous" ng-if="!!questionsData.question.previous">
				            <img data-ga-action="Clicked Previous"  data-ga-label="@question-name" class="arrow-prev" ng-src="img/arrow-left.png" alt="{{brandData.appText.previousQuestionAlt}}">
						</a>

						<a href="#" class="btn-next" ng-if="!!questionsData.question && questionsData.question.name !='Appliance'" ng-click="!controls.questionHasAnswer || next()" id="next" ng-class="{'disabled' : !controls.questionHasAnswer}">
				            <img data-ga-action="Clicked Next"  data-ga-label="@question-name" class="arrow-next" ng-src="img/arrow-right.png" alt="{{brandData.appText.nextQuestionAlt}}">

						</a>

					</div>
				</div>
				<div class="bottom-nav-inner-inner">
                    <div style="display: inline-block;">
                        <div data-ga-action="Clicked Question Icon" ng-repeat="q in questionsData.scoringQuestions | orderByOrder" class="icon-nav-wrap" ng-if="byName(q) && q.thumbnail_text != 'Appliance' && q.thumbnail_text != 'Cooking'">
                            <a ng-init="a=hasAnswer(q);q.a_thumbnail_type=setType(q,a)" class="icon-nav selected" ng-click="navToQuestions(q)" popover-placement="top" popover-append-to-body="true" popover-title="{{isEnglish ? q.thumbnail_text : q.thumbnail_text_fr}}" popover="{{q.show.question.replace('<br/>',' ').replace('<br />',' ')}}" popover-trigger="mouseenter">
                            <img data-ga-label="@navbar-popover-title" ng-if="isTabletWidthOrLess" ng-src="img/mbl/icon-{{q.thumbnail_text.replace(' ','').toLowerCase()}}{{(q.name == questionsData.question.name) && '-current' || '' }}.png" ng-class="{ 'icon-img-current' : (q.name == questionsData.question.name), 'icon-img' : (q.name != questionsData.question.name)}" />
                            <img data-ga-label="@navbar-popover-title" ng-if="!isTabletWidthOrLess" ng-src="img/icon-{{q.thumbnail_text.replace(' ','').toLowerCase()}}{{(q.name == questionsData.question.name) && '-current' || '' }}.png" ng-class="{ 'icon-img-current' : (q.name == questionsData.question.name), 'icon-img' : (q.name != questionsData.question.name)}" />

                            </a>      
                        </div>
                    </div>
					<div ng-repeat="q in questionsData.questions | nextQuestions:questionsData.scoringQuestions as nextQs" class="icon-nav-wrap" ng-if="!!q.thumbnail_type">
				    	<a class="icon-nav">
                            <!-- img/icon-{{q.thumbnail_text.replace(' ','').toLowerCase()}}{{(q.name == questionsData.question.name) && '-current' || '-next' }}.png -->
					      	<img ng-if="isTabletWidthOrLess" ng-src="img/mbl/icon-{{q.thumbnail_text.replace(' ','').toLowerCase()}}{{(q.name == questionsData.question.name) && '-current' || '-next' }}.png" ng-class="{ 'icon-img-current' : (q.name == questionsData.question.name), 'icon-img' : (q.name != questionsData.question.name)}" />
                            <img ng-if="!isTabletWidthOrLess" ng-src="img/icon-{{q.thumbnail_text.replace(' ','').toLowerCase()}}{{(q.name == questionsData.question.name) && '-current' || '-next' }}.png" ng-class="{ 'icon-img-current' : (q.name == questionsData.question.name), 'icon-img' : (q.name != questionsData.question.name)}" />
				    	</a>      
					</div>

					<div class="buttonnav-mobile">
				        <a class="banner backtoresults-mobile" data-ga-action="Clicked Back To Results" data-ga-label="@question-name Question" ng-click="next(true)" ng-if="!!resultsTouched && !!questionsData.question && isTabletWidthOrLess">
							<div class="btn-wrapper"><div ng-bind-html="brandData.apptext.backtoresults.replace('<br />',' ')"></div></div>
						</a>

				        <a class="banner startover-mobile" data-ga-action="Clicked Start Over" data-ga-label="@question-name Question" ng-click="startOver()" ng-if="isTabletWidthOrLess">

							<div class="btn-wrapper"><div ng-bind-html="brandData.apptext.startover.replace('<br />',' ')"></div></div>
						</a>
					</div>
				</div>
			</div>

			<div class="btn-wrapper">
				<div class="startover-btn-wrap" ng-if="questionsData.question.name != 'Appliance'">
				    <a id="startover" class="btn btn-startover" ng-click="startOver()" data-ga-action="Clicked Start Over" data-ga-label="@question-name Question">
						<span ng-bind-html="brandData.apptext.startover"></span>
					</a>
				</div>
				<div class="backtoresults-btn-wrap" ng-if="!!resultsTouched && !!questionsData.question && !isTabletWidthOrLess">
					<a id="backtoresults" class="btn btn-backtoresults" ng-click="next(true)" data-ga-action="Clicked Back to Results" data-ga-label="@question-name Question">
						<span ng-bind-html="brandData.apptext.backtoresults"></span>
					</a>
				</div>
			</div>





		</div>





	</div>





</div>
